@import "../Common/Variables";
.footer-get-free-call {
  background: #181b35;
  padding: 101px 0 114px;
  .left-side {
    .logo-area {
      padding-top: 17px;
      padding-bottom: 44px;
      .logo-blue {
        width: 217px;
      }
    }
    .description-area {
      padding-bottom: 65px;
      padding-right: 20%;
    }
    .features-area {
      padding-bottom: 47px;
      .features {
        padding-bottom: 30px;
        min-height: 100px;
        .info-area {
          padding: 12px 10px;
          .row-1 {
            font-weight: 700;
          }
          .row-2 {
            font-weight: 400;
            color: #5F6274;
          }
        }
        &.features-2 .img-area{
          padding-top: 12px;
        }
      }
    }
    .get-call-area {
      .title {
        padding-bottom: 22px;
        line-height: 1.6;
      }
      .btn-orange {
        min-width: 203px;
        padding-top: 17px;
        padding-bottom: 17px;
        //color: #fff;
        text-transform: capitalize;
      }
    }
  }
  .right-side {
    padding: 0 27px;
    .testimonial {
      background: #10111f;
      border-radius: 20px;
      padding: 40px 71px 66px;
      p{
        line-height: 1.65;
      }
      .quotation {
        font-size: 60px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        color: @ORANGE_COLOR;
      }
      .quotation-left {
        text-align: left;
        padding-bottom: 20px;
      }
      .quotation-right {
        text-align: right;
      }
      .client-area {
        .img-area {
          width: 49px;
          height: 49px;
          border-radius: 40px;
          background: #c4c4c4;
        }
        .info-area {
          .info-row-1 {
            font-weight: 700;
          }
          .info-row-2 {
            font-weight: 400;
          }

        }
      }
    }
  }
}
#footer {
  background-color: #10111f;

  .footer-container {
    padding: 80px 0 108px;
    border-bottom: 1px solid #0e151a;

    .header {
      font-size: 22px;
      font-weight: bold;
      line-height: 2.2;
      float: left;
      width: 100%;
      //color: @BRAND_MAIN_COLOR;
      color: #FFF;
      text-transform: uppercase;
      padding-bottom: 10px;
    }

    ul {
      list-style: none;
      padding:0;

      li {
        float: left;
        width: 100%;
        padding-bottom: 3px;
        a {
          text-decoration: none;
          float: left;
          width: 100%;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.67;
          letter-spacing: normal;
          //text-align: left;
          color: #ffffff;
          margin-top: 10px;

          &:hover {
            color: #b9b9b9;
          }
        }
      }
    }
    p, p a {
      text-decoration: none;
      float: left;
      width: 100%;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.67;
      letter-spacing: normal;
      //text-align: left;
      color: #ffffff;
      margin-top: 10px;
    }
  }

  .risk-note {
    padding: 52px 0 60px;
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.67;
      color: #ffffff;
      text-align: justify;
      a {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }

  .copyright {
    background-color: #0e151a;
    padding: 7px 0;


    div:nth-child(2) p {
      text-align: right;
    }

    p {
      font-size: 13px;
      line-height: 1.2;
      text-align: left;
      color: #ffffff;
      float: left;
      width: 100%;
      margin: 0;
    }
  }

  .ul-category {
    padding-bottom: 28px;
  }
  .row {
    padding-bottom: 2px;
  }
  .column {
    padding: 0 3px;
  }
  .column-1 {
    padding-right: 7%;
    .row-1 {
      padding-right: 15%;
    }
  }
}

html:lang(ar){
  .footer-get-free-call .left-side .description-area {
    padding-right: 0;
    padding-left: 20%;
  }
  #footer .column-1 {
    padding-right: 0;
    padding-left: 7%;
    .row-1 {
      padding-right: 0;
      padding-left: 15%;
    }
  }
  #footer .copyright p{
    //text-align: right;
  }
  #footer .copyright div:nth-child(2) p{
    //text-align: left;
  }
  .footer-get-free-call .left-side .get-call-area .btn-orange {
    min-width: 274px;
  }
}

html:lang(es){
  #footer .column {
    padding: 0 10px;

    &.column-3 {
      padding-left: 2.5%;
    }
  }
}

@media (max-width: @GRID_EXTRA_LARGE) {
  #footer {
    .footer-container {
      padding: 30px 0;
      border: none;
      .img-area{
        width: 100%;
        img {
          display: block;
          margin: auto;
          float: none;
        }
      }

    }

    .risk-sm {
      color: #fff;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      height: 60px;
      padding-bottom: 5px;

      a {
        color: #fff;
        font-size: 13px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        padding: 0 10px;

        &:hover {
          text-decoration: underline;
        }

        &:first-child {
          border-right: 1px solid #fff;
        }
      }

      p {
        text-align: center;
        font-size: 10px;
        line-height: 1.7;
      }
    }

    .risk-note {
      padding: 0 0 48px;
      p {
        font-size: 12px;
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: @LAPTOP_SCREEN) {
  #front-page {
    .footer-get-free-call .right-side .testimonial {
      padding: 40px 40px 66px;
    }
  }
}
@media only screen and (max-width: @LAPTOP_SCREEN) {
  .footer-get-free-call .right-side {
    padding: 10px;
    .testimonial {
      padding: 30px 31px 36px;
    }
  }
  #footer .footer-container .header {
    font-size: 18px;
  }
  .footer-container ul li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: @LAPTOP_SCREEN) {
  #footer {
    .payment-providers .img-providers{
      width: 100%;
      padding: 10px 0 30px;
    }
  }
  /*???*/
  .footer-get-free-call .left-side {
    .logo-area .logo-blue {
      margin: auto;
    }
    .description-area {
      padding-right: 5%;
      padding-left: 5%;
      text-align: center;
    }
    .get-call-area {
      text-align: center;
      padding-bottom: 30px;
    }
  }
  /*End*/
  .footer-get-free-call {
    .left-side {
      .features-area {
        .features {
          .img-area {
            .icon {
              width: 50px;
              margin-top: 10px;
            }
          }
        }
      }
    }
    .left-side .features-area .features.features-2 .img-area {
      padding-top: 0;
    }
  }
  #footer {
    .footer-container ul li a {
      font-size: 14px;
    }
    .footer-container .header {
      font-size: 16px;
    }
  }
}
@media only screen and (max-width: @TABLET_SCREEN) {
  .footer-get-free-call {
    padding: 101px 0 74px;
    .left-side {
      .logo-area {
        text-align: center;
        .logo-blue {
          display: inline-block;
          width: 170px;
        }
      }
      .description-area {
        //padding-bottom: 65px;
        padding: 0 0 50px 0;
        text-align: center;
      }
      .features-area .features {
        min-height: 206px;
        .img-area {
          //max-height: 60px;
          min-height: 70px;
          text-align: center;
          svg {
            width: 100%;
          }
        }
        .info-area {
          text-align: center;
        }
        &.features-2 {
          .img-area .icon {
            margin-top: 20px;
          }
        }
      }
    }
    .right-side {
      padding: 10px;
      .testimonial {
        .quotation {
          line-height: 0.5;
        }
        .quotation-left {
          padding-bottom: 0;
          margin-bottom: -10px;
        }
      }
    }
    .get-call-area {
      text-align: center;
      padding-bottom: 50px;
    }

  }

  #footer  .column-1 {
    padding-right: 7%;

    .header,.row-1,.row-2,.row-3 {
      text-align: center;
    }

    .row-1 {
      padding: 0!important;
    }
    .row-3 {
      padding: 0 10%;
    }
  }
  #footer .copyright {
    .col-6.col-12_12-mobile {
      float: left;
    }
  }

  html:lang(ar) {
    .footer-get-free-call .left-side .description-area {
      padding-left: 0;
    }
    .region.region-footer {
      .display-flex {
        direction: ltr;
      }
    }
  }
}

@media only screen and (max-width: @PHONE_SCREEN) {
  html:lang(ar){
    #footer .copyright p{
      text-align: center;
    }
  }

  #footer {
    .footer-container {
      padding: 30px 0 0;

      img {
        display: block;
        margin: 0 auto;
        float: none;
        max-width: 95px;
        height: auto;
      }
    }

    .risk-note {
      padding: 15px 0 30px;

      p {
        font-size: 11px;
        font-weight: normal;
        text-align: center;
      }
    }
    .payment-providers{

    }
    .copyright p {
      font-size: 11px;
      text-align: center!important;
      float: left;
      width: 100%;
      padding-bottom: 5px;
    }
  }
  .footer-get-free-call {
    padding: 48px 0 0;
    .right-side {
      padding: 0;
    }
    .left-side {
      .logo-area {
        padding-top: 17px;
        padding-bottom: 18px;
      }
      .description-area {
        padding: 0 0 38px 0;
      }
      .features-area {
        padding-bottom: 29px;
        .features {
          min-height: 115px;
          padding-bottom: 0;
          .img-area {
            height: 50px;
            text-align: center;
            padding-bottom: 0 !important;
          }
          .info-area .row-2 {
            display: none;
          }
          &.features-1, &.features-4 {
            .img-area img {
              height: 50px;
            }
          }
          &.features-2 {
            .img-area img {
              height: 43px;
            }
          }
          &.features-3 {
            .img-area img {
              height: 35px;
            }
          }
        }
      }
    }
  }
  #footer .column-1 {
    .row-1, .row-2, .row-3 {
      font-size: 14px;
    }
    .header {
      font-size: 16px;
    }
    .row-3 {
      padding: 0 0 15px;
    }
  }
}