/* Burger button */
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #21275f;
  display: block;
  transition: all 0.1s;
  margin-top: 4px;
}
.not-front .icon-bar {
  background-color: #fff;
}
.not-front .background-white .icon-bar {
  background-color: #21275f;
}
.to-upper {
  text-transform: uppercase;
}
#navigation {
  float: right;
}
.navbar a {
  color: #21275f;
  text-decoration: none;
  line-height: 1.2;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}
.navbar .navbar-nav > li > a {
  float: left;
  padding: 13px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #21275f;
  line-height: 1.2;
  text-align: left;
  transition-delay: 0s;
  transition-duration: 0s;
}
.navbar .navbar-nav > li > a .arrow-icon {
  padding-left: 2px;
  height: 4px;
}
.navbar .navbar-nav > li > a.btn {
  margin: 0 10px;
  font-weight: bold;
  padding: 12px 0;
  color: #FFFFFF;
  line-height: normal;
  text-align: center;
}
.navbar .navbar-nav > li > a.btn:hover {
  color: #ffb84f;
}
.navbar .navbar-nav.nav-part2 > li > a {
  font-size: 14px;
}
.navbar .dropdown-menu {
  top: 35px;
  border-radius: 0;
  left: 10px;
  float: left;
  font-size: 16px;
  text-align: left;
  list-style: none;
  background-color: #FFFFFF;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 18px 20px;
  border: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.175);
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.175);*/
  box-shadow: 3px 6px 4px 0 rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
}
.navbar .dropdown-menu a {
  float: left;
  width: 100%;
  padding: 5px 0;
  margin-top: 0;
  box-sizing: border-box;
  display: block;
  clear: both;
  font-weight: 500;
  line-height: 1.42857143;
  white-space: nowrap;
  font-size: 16px;
}
.navbar .dropdown-menu a:hover {
  text-decoration: underline;
}
.navbar .dropdown-menu a:first-child {
  border: none;
}
html:lang(ar) .navbar a {
  text-align: right;
}
html:lang(ar) .navbar .navbar-nav > li > a {
  text-align: right;
}
html:lang(ar) .navbar .navbar-nav > li > a.btn {
  text-align: center;
}
html:lang(ar) .navbar .dropdown-menu {
  text-align: left;
}
html:lang(ar) .navbar .dropdown-menu {
  right: 0;
  left: unset;
}
@media only screen and (max-width: 1200px) {
  .navbar .navbar-nav > li > a {
    font-size: 14px;
  }
  .navbar-toggler {
    margin-top: 0;
    display: block;
  }
  #MainNavbar.navbar .dropdown-menu {
    background: transparent;
  }
  #MainNavbar.navbar .dropdown-menu a {
    color: #21275f !important;
  }
  #MainNavbar.navbar .navbar-nav > li > a {
    color: #21275f;
  }
  #MainNavbar.navbar .navbar-nav > li > a.nav-link {
    color: #21275f;
  }
  #MainNavbar.navbar .navbar-nav > li > a.nav-link span,
  #MainNavbar.navbar .navbar-nav > li > a.nav-link i {
    color: #21275f;
  }
  #MainNavbar.navbar li.nav-item-btn .nav-link {
    border: 1px solid #21275f;
    border-radius: 40px;
    font-weight: bold;
    text-transform: uppercase;
  }
  html:lang(ar) .navbar-toggler {
    float: left;
  }
}
@media only screen and (max-width: 1440px) {
  #header-inner .logo-area {
    margin-top: 3px;
  }
  #header-inner #MainNavbar .nav-part1 {
    margin-top: 3px;
  }
}
@media only screen and (max-width: 1280px) {
  .navbar .navbar-nav > li > a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar .dropdown-menu a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=Menu.css.map */