.search-area .form-item {
  text-align: center;
  max-width: 571px;
  margin: 50px auto 79px;
  float: unset;
}
.search-area #edit-instrument {
  width: 100%;
  height: 58px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 63, 0.1) !important;
  color: #21275f;
  padding: 26px;
  border-radius: 50px;
  background: #ffffff url("/sites/all/themes/argo/Content/Images/Common/icons/2021/search-instriments-icon.png") no-repeat center right / 58px;
  display: inline-block;
  box-sizing: border-box;
}
.search-area #edit-instrument::placeholder {
  color: rgba(33, 33, 63, 0.3);
}
.search-area #edit-instrument:-webkit-autofill,
.search-area #edit-instrument:-webkit-autofill:hover,
.search-area #edit-instrument:-webkit-autofill:focus,
.search-area #edit-instrument:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
.search-area #edit-instrument:focus {
  background: transparent;
  outline: none;
}
.search-area #instruments-search-form #autocomplete {
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  max-height: 300px;
  overflow-y: auto;
}
.search-area #instruments-search-form #autocomplete ul li {
  font-size: 18px;
  font-weight: 300;
  padding: 10px 25px;
}
.search-area #instruments-search-form #autocomplete ul li.selected {
  background-color: #1b419e;
}
.search-area #instruments-search-form #autocomplete ul li.selected a {
  color: #fff;
}
.search-area #autocomplete {
  z-index: 1;
  max-height: 240px;
  overflow-y: scroll;
}
html:lang(ar) .search-area #edit-instrument {
  background: #ffffff url("/sites/all/themes/argo/Content/Images/Common/icons/2021/search-instriments-icon.png") no-repeat center left / 58px;
}
.banner-wild-markets {
  padding: 100px 0 140px;
  position: relative;
}
.banner-wild-markets .container {
  position: relative;
  z-index: 2;
}
.banner-wild-markets .txt-area {
  text-align: center;
}
.banner-wild-markets .txt-area-market-quotes {
  padding-top: 18px;
  padding-right: 10%;
}
.banner-wild-markets .txt-area-market-quotes .icon-area {
  padding-bottom: 10px;
}
.banner-wild-markets .txt-area-market-quotes .title {
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 21px;
}
.banner-wild-markets .txt-area-market-quotes .btn-area-market {
  margin-top: 31px;
}
.banner-wild-markets .txt-area-market-quotes .btn-area-market .btn {
  min-width: 207px;
}
.banner-wild-markets span.big-txt-bg {
  font-size: 150px;
  font-weight: 700;
  opacity: 0.04;
  background-image: linear-gradient(to bottom, #131623, rgba(19, 22, 35, 0));
  position: absolute;
  width: 100%;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  z-index: 1;
  margin-top: -50px;
}
.default-banner-promo {
  padding-top: 123px;
  background: url("/sites/all/themes/argo/Content/Images/Pages/assets/2021/common/bg.png") repeat scroll center center / cover, linear-gradient(to top, #162657, #1d2c5c);
  min-height: 350px;
}
.default-banner-promo .text-area {
  text-align: center;
}
.default-banner-promo.default-banner-promo-h2 {
  padding-top: 143px;
}
#block-block-107 {
  position: absolute;
}
.contact-us-available-apps {
  position: fixed;
  right: 0;
  width: 110px;
  height: 180px;
  top: 180px;
  padding-top: 22px;
}
.contact-us-available-apps .img-area {
  text-align: center;
}
.contact-us-available-apps .img-area .icon {
  width: 55px;
}
.contact-us-available-apps .text-area .txt {
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
}
.contact-us-available-apps .section-1 {
  color: #21213f;
}
.contact-us-available-apps .section-1.section-2 {
  color: #21213f;
}
.contact-us-available-apps .section-1.section-2.section-3 {
  color: #fff;
}
.contact-us-available-apps .section-1.section-2.section-3.section-4 {
  color: #21213f;
}
.contact-us-available-apps .section-1.section-2.section-3.section-4.section-5 {
  color: #fff;
}
html:lang(ar) .banner-wild-markets .txt-area-market-quotes .icon-area img {
  transform: rotate(180deg);
}
html:lang(ar) .banner-wild-markets .txt-area-market-quotes {
  padding-right: 0;
  padding-left: 10%;
}
html:lang(ar) .contact-us-available-apps {
  right: unset;
  left: 0;
}
@media only screen and (max-width: 1440px) {
  .default-banner-promo {
    padding-top: 133px;
  }
}
@media only screen and (max-width: 1024px) {
  .banner-wild-markets span.big-txt-bg {
    font-size: 100px;
    margin-top: -30px;
  }
}
@media only screen and (max-width: 768px) {
  .search-area .form-item {
    max-width: 331px;
    margin: 30px auto 40px;
  }
  .search-area #edit-instrument {
    height: 55px;
    font-size: 14px;
    padding: 10px 26px;
    background: #ffffff url(/sites/all/themes/argo/Content/Images/Common/icons/2021/search-instriments-icon.png) no-repeat 100% center / 55px;
  }
  .banner-wild-markets {
    padding: 130px 0 100px;
  }
  .banner-wild-markets span.big-txt-bg {
    font-size: 90px;
  }
  .banner-wild-markets .txt-area {
    text-align: center;
    padding: 0 13%;
  }
  .banner-wild-markets .txt-area-market-quotes {
    display: none;
  }
  .banner-wild-markets > .container {
    display: grid;
  }
  .banner-wild-markets > .container .txt-area {
    order: 1;
  }
  .banner-wild-markets > .container .search-area {
    order: 2;
  }
  .banner-wild-markets > .container .txt-area-market-quotes {
    order: 4;
    padding-top: 30px;
    padding-right: 0;
    text-align: center;
  }
  .banner-wild-markets > .container .search-are {
    order: 3;
  }
  .default-banner-promo {
    min-height: 280px;
  }
  html:lang(es) .banner-wild-markets .txt-area {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .banner-wild-markets span.big-txt-bg {
    font-size: 47px;
    margin-top: -20px;
  }
  .default-banner-promo {
    padding-top: 111px;
  }
  .default-banner-promo.default-banner-promo-h2 {
    padding-top: 111px;
  }
}
@media only screen and (max-width: 500px) {
  .banner-wild-markets {
    padding: 159px 0 70px;
  }
  .banner-wild-markets .theme-content {
    max-width: 100%;
  }
  .banner-wild-markets span.big-txt-bg {
    font-size: 42px;
  }
  .banner-wild-markets .txt-area {
    padding: 0 8% 15px;
  }
  .not-front .banner-wild-markets {
    padding-top: 49px;
  }
  .not-front .banner-wild-markets .big-txt-bg,
  .not-front .banner-wild-markets .instruments-search-form {
    display: none;
  }
  .not-front .banner-wild-markets .txt-area {
    padding: 0 10% 15px;
  }
  .search-area .form-item {
    max-width: 300px;
  }
  .contact-us-available-apps {
    width: 55px;
    display: none;
  }
  .contact-us-available-apps .img-area .icon {
    width: 40px;
  }
  .contact-us-available-apps .text-area .txt {
    font-size: 12px;
  }
  .search-area #edit-instrument {
    background: #ffffff url("/sites/all/themes/argo/Content/Images/Common/icons/2021/search-instriments-icon.png") no-repeat center right / 55px;
  }
  html:lang(ar) .search-area #edit-instrument {
    background: #ffffff url("/sites/all/themes/argo/Content/Images/Common/icons/2021/search-instriments-icon.png") no-repeat center left / 55px;
  }
}
/*# sourceMappingURL=Blocks.css.map */