#mac-metatrader .show-tablet {
  display: none;
}
#mac-metatrader h3 {
  font-size: 30px;
  color: #21275f;
  line-height: 1.2;
  margin: 0;
  font-weight: 500;
}
#mac-metatrader p {
  font-size: 16px;
  color: #21275f;
  font-weight: 500;
}
#mac-metatrader .banner-block {
  padding-top: 122px;
  padding-bottom: 97px;
  background: #394458 url("/sites/all/themes/argo/Content/Images/Pages/assets/2021/pages/webtrader/assets-banner-mt4-web.jpg") no-repeat scroll top center / cover;
}
#mac-metatrader .banner-block h3,
#mac-metatrader .banner-block h1 {
  color: #fff;
}
#mac-metatrader .banner-block p {
  color: #fff;
}
#mac-metatrader .banner-block p.paragraph {
  font-size: 20px;
}
#mac-metatrader .banner-block .text-area h3,
#mac-metatrader .banner-block .text-area h1 {
  padding-bottom: 33px;
  text-align: center;
}
#mac-metatrader .banner-block .text-area p {
  padding-bottom: 63px;
  text-align: center;
}
#mac-metatrader .banner-block .img-area {
  text-align: center;
}
#mac-metatrader .banner-block .img-area img {
  padding-top: 30px;
}
#mac-metatrader .banner-block .img-area .small {
  font-size: 14px;
}
#mac-metatrader .how-to-install {
  padding-top: 95px;
  padding-bottom: 135px;
}
#mac-metatrader .how-to-install .text-area h3 {
  padding-bottom: 25px;
}
#mac-metatrader .how-to-install .text-area h3 b {
  font-weight: bold;
}
#mac-metatrader .how-to-install .text-area p {
  padding-bottom: 20px;
}
#mac-metatrader .how-to-install .text-area p b {
  font-weight: bold;
}
#mac-metatrader .how-to-install .text-area a.download-link {
  font-size: 17px;
  font-weight: bold;
  color: #21275f;
  padding-top: 25px;
  padding-bottom: 45px;
  display: inline-block;
  cursor: pointer;
}
#mac-metatrader .how-to-install .text-area a.download-link .arrow-icon {
  margin-left: 3px;
  margin-right: 3px;
}
#mac-metatrader .how-to-install .text-area a.download-link:hover {
  color: #171f29;
}
#mac-metatrader .how-to-install .text-area a.download-link:hover .arrow-icon {
  background: url(/sites/all/themes/argo/Content/Images/Common/arrows/arrow-right-dark.svg) no-repeat right;
  width: 0;
  padding-left: 17px;
  height: 12px;
}
#mac-metatrader .how-to-install .text-area .btn-area {
  text-align: center;
}
#mac-metatrader .how-to-install .block-row {
  display: flex;
  align-items: center;
}
#mac-metatrader .how-to-install .block-1 {
  padding-bottom: 100px;
}
#mac-metatrader .how-to-install .block-1 .text-area {
  padding-right: 40px;
}
#mac-metatrader .how-to-install .block-1 .img-area {
  position: relative;
}
#mac-metatrader .how-to-install .block-1 .img-area .step-1-arrow {
  position: absolute;
  bottom: -73px;
  left: -59px;
}
#mac-metatrader .how-to-install .block-2 {
  padding-bottom: 95px;
}
#mac-metatrader .how-to-install .block-2 .text-area {
  padding-left: 40px;
}
#mac-metatrader .how-to-install .block-2 .img-area {
  position: relative;
}
#mac-metatrader .how-to-install .block-2 .img-area .step-2-arrow {
  position: absolute;
  bottom: -64px;
}
#mac-metatrader .how-to-install .block-3 {
  padding-bottom: 117px;
}
#mac-metatrader .how-to-install .block-3 .text-area {
  padding-right: 40px;
}
#mac-metatrader .how-to-install .block-4 .text-area {
  text-align: center;
}
#mac-metatrader .how-to-install .block-4 .text-area p {
  line-height: 1.75;
  padding-bottom: 30px;
}
#mac-metatrader .how-to-install .block-4 .btn-area .btn-green {
  display: inline-block;
}
html:lang(ar) #mac-metatrader .how-to-install .block-1 .img-area .step-1-arrow {
  transform: rotateY(180deg);
  right: -59px;
}
html:lang(ar) #mac-metatrader .how-to-install .block-2 .img-area .step-2-arrow {
  transform: rotateY(180deg);
}
html:lang(ar) #mac-metatrader .how-to-install .text-area a.download-link .arrow-icon {
  transform: rotateY(180deg);
  padding-left: 10px;
}
html:lang(ar) #mac-metatrader .how-to-install .text-area a.download-link:hover .arrow-icon {
  transform: rotateY(180deg);
  padding-right: 17px;
}
@media screen and (max-width: 1024px) {
  #mac-metatrader .show-tablet {
    display: inline-block;
  }
  #mac-metatrader .how-to-install .text-area {
    text-align: center;
  }
  #mac-metatrader .how-to-install .text-area p,
  #mac-metatrader .how-to-install .text-area a,
  #mac-metatrader .how-to-install .text-area h3 {
    text-align: center;
  }
  #mac-metatrader .how-to-install .block-row {
    display: block;
  }
  #mac-metatrader .how-to-install .block-row .text-area {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  #mac-metatrader .how-to-install .block-row .img-area {
    width: 100%;
    text-align: center;
  }
  #mac-metatrader .how-to-install .block-1 {
    padding-bottom: 142px;
  }
  #mac-metatrader .how-to-install .block-1 .img-area .step-1-arrow {
    bottom: -127px;
    left: 47%;
  }
  #mac-metatrader .how-to-install .block-2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 140px;
  }
  #mac-metatrader .how-to-install .block-2 .text-area {
    order: 1;
  }
  #mac-metatrader .how-to-install .block-2 .img-area {
    order: 2;
  }
  #mac-metatrader .how-to-install .block-2 .img-area .step-2-arrow {
    position: absolute;
    bottom: -120px;
    left: 46%;
  }
}
@media screen and (max-width: 850px) {
  #mac-metatrader .banner-block .text-area br {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  #mac-metatrader .show-mobile {
    display: inline !important;
  }
  #mac-metatrader h3 {
    font-size: 23px;
    text-align: center;
  }
  #mac-metatrader p {
    font-size: 13px;
    text-align: center;
  }
  #mac-metatrader .btn-area {
    text-align: center;
  }
  #mac-metatrader .btn-area .btn-green {
    font-size: 14px;
  }
  #mac-metatrader .banner-block {
    padding-top: 95px;
    padding-bottom: 40px;
    background: #394458 url("/sites/all/themes/argo/Content/Images/Pages/assets/2021/pages/webtrader/assets-banner-mob-mt4-web.jpg") no-repeat scroll top center / cover;
  }
  #mac-metatrader .banner-block .img-area .small {
    display: none;
  }
  #mac-metatrader .banner-block .show-mobile {
    display: inline !important;
  }
  #mac-metatrader .banner-block .btn-area .btn-green {
    display: inline-block;
  }
  #mac-metatrader .banner-block .text-area {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  #mac-metatrader .banner-block .text-area p {
    padding-bottom: 20px;
  }
  #mac-metatrader .banner-block .text-area br {
    display: none;
  }
  #mac-metatrader .banner-block .text-area br:after {
    content: ' ';
  }
  #mac-metatrader .banner-block .text-area .logo-mobile {
    padding-bottom: 27px;
  }
  #mac-metatrader .banner-block .text-area .logo-mobile p.small {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    margin: 0;
  }
  #mac-metatrader .banner-block .img-area {
    width: 100%;
  }
  #mac-metatrader .how-to-install {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  #mac-metatrader .how-to-install .block-1 {
    padding-bottom: 104px;
  }
  #mac-metatrader .how-to-install .block-1 .img-area .step-1-arrow {
    height: 75px;
    bottom: -80px;
  }
  #mac-metatrader .how-to-install .block-2 {
    padding-bottom: 100px;
  }
  #mac-metatrader .how-to-install .block-2 .img-area .step-2-arrow {
    height: 75px;
    bottom: -80px;
  }
  #mac-metatrader .how-to-install .block-3 {
    padding-bottom: 45px;
  }
}
/*# sourceMappingURL=mac-metatrader.css.map */