.trading-account-types-page.trading-account-types {
  padding-bottom: 103px;
  background: #f7fafc;
}
.trading-account-types-page.trading-account-types .trading-account-banner-info {
  padding: 94px 0 98px;
}
.trading-account-types-page.trading-account-types .trading-account-banner-info .subtitle {
  text-align: center;
}
.trading-account-types-page.trading-account-types .theme-content {
  width: 1086px;
}
.trading-account-types-page.trading-account-types .theme-content.risk-warning-content {
  width: 845px;
  margin: auto;
  float: none;
  display: block;
}
.trading-account-types-page.trading-account-types .theme-content.account-content-large {
  width: 1360px;
  max-width: 1360px;
}
.trading-account-types-page.trading-account-types .theme-content.account-content-large .account-type {
  width: 19%;
}
.trading-account-types-page.trading-account-types .theme-content.account-content-large .btn {
  min-width: 100%;
}
.trading-account-types-page.trading-account-types h2 {
  font-size: 30px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 15px;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}
.trading-account-types-page.trading-account-types .subtitle {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 0 15% 10px;
}
.trading-account-types-page.trading-account-types .nv-btn-white-open-account {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  color: #1d5195 !important;
  border: 1px solid #1d5195 !important;
  text-decoration: none;
  padding: 11px 26px 9px;
  text-transform: uppercase;
}
.trading-account-types-page.trading-account-types .compare-accounts-area {
  text-align: center;
  padding-top: 30px;
}
.trading-account-types-page.trading-account-types .compare-accounts-area .link-compare-accounts {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  color: #1d5195;
  text-decoration: none;
}
.trading-account-types-page.trading-account-types .account-types {
  padding: 0;
  /*------ */
  position: relative;
}
.trading-account-types-page.trading-account-types .account-types .txt-area.coming {
  position: absolute;
  top: 40%;
}
.trading-account-types-page.trading-account-types .account-types .txt-area.coming .pro-account {
  font-size: 22.1px;
  font-weight: 500;
  text-align: center;
  color: #404041;
}
.trading-account-types-page.trading-account-types .account-types .txt-area.coming .coming-soon {
  font-size: 40px;
  font-style: italic;
  text-align: center;
  color: #1d5195;
}
.trading-account-types-page.trading-account-types .professional-accounts-area {
  padding: 75px 0 0;
}
.trading-account-types-page.trading-account-types .professional-accounts-area .theme-content {
  margin: auto;
  max-width: 854px;
}
.trading-account-types-page.trading-account-types .professional-accounts-area .account-types.professional-accounts-area-types .account-type {
  width: 50%;
}
.trading-account-types-page.trading-account-types .account-type {
  position: relative;
  width: 24%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding: 35px 33px;
}
.trading-account-types-page.trading-account-types .account-type .category {
  color: #21275f;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.trading-account-types-page.trading-account-types .account-type .account-size-area {
  padding-bottom: 12px;
}
.trading-account-types-page.trading-account-types .account-type .account-size-area p {
  color: #1b419e;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0;
}
.trading-account-types-page.trading-account-types .account-type .account-size-area .txt {
  font-size: 12px;
  font-weight: 500;
  color: #131623;
}
.trading-account-types-page.trading-account-types .account-type .account-size-area .account-size {
  font-size: 30px;
  font-weight: bold;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading {
  padding: 10px 11px;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .benefits,
.trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .spreads {
  padding: 8px 0;
  width: 50%;
  text-decoration: none;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .benefits .panel-title,
.trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .spreads .panel-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .benefits {
  background-color: #1d5195;
  border: 1px solid #1d5195;
  cursor: pointer;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .benefits .panel-title {
  color: #ffffff;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .spreads {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #1d5195;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .spreads .panel-title {
  color: #1d5195;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .activated {
  background-color: #1d5195;
  border: 1px solid #1d5195;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .activated .panel-title {
  color: #ffffff;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .deactivated {
  background-color: #fff;
  border: 1px solid #1d5195;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .deactivated .panel-title {
  color: #1d5195;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel.panel-features {
  display: none;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel {
  border: none;
  box-shadow: none;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body {
  padding: 16px 0 42px;
  background: none;
  min-height: 356px;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .spread-row,
.trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .benefits-row {
  position: relative;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding: 5px 0 6px;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .spread-row:nth-child(1),
.trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .benefits-row:nth-child(1) {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .benefits-row .img {
  width: 14px;
  height: 14px;
  float: left;
  margin: 5px;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .benefits-row .img.yes {
  background: url("/sites/all/themes/argo/Content/Images/Pages/assets/2021/common/icons/check-icon.svg") no-repeat center center / 14px;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .benefits-row .img.no {
  background: url("/sites/all/themes/argo/Content/Images/Pages/assets/2021/common/icons/minus-icon.svg") no-repeat center center / 14px;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .txt {
  font-size: 11px;
  text-align: left;
  color: #131623;
}
.trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .instrument-spreads {
  float: right;
  padding-top: 5px;
  width: 45px;
  text-align: right;
}
.trading-account-types-page.trading-account-types .account-type .btn-area {
  text-align: center;
}
.trading-account-types-page.trading-account-types .account-type .most-popular-account {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  background: #ffb84f;
  color: #fff;
  padding: 4px 0;
}
.trading-account-types-page.trading-account-types .account-type.account-type-gold.focused {
  box-shadow: 0 0 8px 0 rgba(26, 24, 24, 0.25);
  background: #FFFFFF;
  padding-top: 35px;
}
.trading-account-types-page.trading-account-types .account-type.account-type-gold.focused .account-size-area .account-size {
  color: #ffb84f;
}
.trading-account-types-page.trading-account-types .account-type:hover {
  box-shadow: 0 0 8px 0 rgba(26, 24, 24, 0.25);
  background: #FFFFFF;
  padding-top: 35px;
}
.trading-account-types-page.trading-account-types .account-type:hover .account-size-area .account-size {
  color: #ffb84f;
}
.trading-account-types-page.trading-account-types .risk-warning {
  padding-top: 12px;
}
.trading-account-types-page.trading-account-types .risk-warning p {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 2px;
}
.trading-account-types-page.trading-account-types .risk-warning p a {
  text-decoration: underline;
  color: #1d5195;
}
.trading-account-types-page.trading-account-types .open-account {
  text-align: center;
  padding-top: 36px;
}
.trading-account-types-page.trading-account-types .open-account a {
  font-size: 25px;
  border-radius: 12px;
  padding: 14px 50px 16px;
  color: #FFF !important;
  text-decoration: none;
}
.trading-account-types-page.trading-account-types .phone-version,
.trading-account-types-page.trading-account-types .tablet-version {
  display: none;
}
.trading-account-types-page.trading-account-types .account-type-kw .account-type {
  width: 32%;
}
.trading-account-types-page.trading-account-types .account-type-kw .account-type .panel-group .panel .panel-body .txt {
  font-size: 12px;
}
html:lang(ar) .trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .spread-row {
  padding: 9px 0;
}
html:lang(ar) .trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .spread-row .instrument-name {
  float: right;
}
html:lang(ar) .trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .spread-row .instrument-spreads {
  float: left;
  padding-top: 0;
}
html:lang(ar) .trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .benefits-row .img {
  float: right;
}
html:lang(ar) .trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .benefits-row .benefits-txt {
  float: left;
  width: 80%;
  padding-top: 5px;
  text-align: right;
}
html:lang(es) .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading {
  padding: 10px 11px;
}
html:lang(es) .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading {
  padding-left: 0;
  padding-right: 0;
}
html:lang(es) .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .benefits .panel-title,
html:lang(es) .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .spreads .panel-title {
  font-size: 10px;
}
@media only screen and (max-width: 1440px) {
  .trading-account-types-page.trading-account-types .account-type {
    padding: 35px 33px;
  }
  .trading-account-types-page.trading-account-types .account-type.account-type-gold.focused,
  .trading-account-types-page.trading-account-types .account-type:hover {
    padding-top: 35px;
  }
  .trading-account-types-page.trading-account-types .account-type .category {
    padding-bottom: 18px;
  }
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body {
    padding: 10px 0 30px;
    min-height: 330px;
  }
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .txt {
    font-size: 12px;
  }
  .trading-account-types-page.trading-account-types .account-type .account-size-area {
    padding-bottom: 8px;
  }
  .trading-account-types-page.trading-account-types .account-type .account-size-area .account-size {
    font-size: 44px;
  }
  .trading-account-types-page.trading-account-types .account-type .account-size-area .txt {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1280px) {
  .trading-account-types-page.trading-account-types .theme-content.account-content-large {
    width: 100%;
  }
  .trading-account-types-page.trading-account-types .account-type {
    padding: 28px 33px;
  }
  .trading-account-types-page.trading-account-types .account-type.account-type-gold.focused,
  .trading-account-types-page.trading-account-types .account-type:hover {
    padding-top: 28px;
  }
  .trading-account-types-page.trading-account-types .account-type .most-popular-account {
    padding: 2px 0;
  }
  .trading-account-types-page.trading-account-types .account-type .category {
    padding-bottom: 12px;
    font-size: 24px;
  }
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body {
    padding: 10px 0 20px;
  }
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .benefits-row {
    padding: 6px 0;
  }
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .txt {
    font-size: 12px;
  }
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .benefits,
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .spreads {
    padding: 6px 0;
  }
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .benefits .panel-title,
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .spreads .panel-title {
    font-size: 12px;
  }
  .trading-account-types-page.trading-account-types .account-type .account-size-area {
    padding-bottom: 8px;
  }
  .trading-account-types-page.trading-account-types .account-type .account-size-area .account-size {
    font-size: 34px;
  }
  .trading-account-types-page.trading-account-types .account-type .account-size-area .txt {
    font-size: 13px;
  }
}
@media only screen and (max-width: 1320px) {
  .page-node-684603 .trading-account-types-page.trading-account-types > .page-content-extra-large {
    max-width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .trading-account-types-page.trading-account-types .trading-account-banner-info {
    padding: 54px 0 48px;
  }
  .trading-account-types-page.trading-account-types .account-type {
    padding: 28px 20px;
  }
  .trading-account-types-page.trading-account-types .account-type.account-type-gold.focused,
  .trading-account-types-page.trading-account-types .account-type:hover {
    padding-top: 28px;
  }
  .trading-account-types-page.trading-account-types .account-type .category {
    font-size: 22px;
  }
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .txt {
    font-size: 11px;
  }
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .spread-row .instrument-name {
    float: left;
    max-width: 100px;
  }
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .benefits .panel-title,
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .spreads .panel-title {
    font-size: 11px;
  }
  .trading-account-types-page.trading-account-types .account-type .account-size-area .account-size {
    font-size: 32px;
  }
  .trading-account-types-page.trading-account-types .account-type .account-size-area .txt {
    font-size: 12px;
  }
  .trading-account-types-page.trading-account-types .account-type .btn {
    min-width: 100%;
    font-size: 14px;
    padding: 12px 0;
  }
  html:lang(es) .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .benefits,
  html:lang(es) .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .spreads {
    width: 100%;
  }
}
@media only screen and (max-width: 1260px) {
  .trading-account-types .category.category-description .cell {
    font-size: 14px;
  }
  .trading-account-types .category .category-name {
    font-size: 20px;
  }
  .trading-account-types .category .category-amount {
    font-size: 18px;
  }
  .trading-account-types .category .cell {
    padding: 10px;
  }
  .trading-account-types .category .cell-btn .btn {
    border-radius: 10px;
  }
}
@media all and (max-width: 900px) {
  .page-node-684603 .trading-account-types h2 {
    text-align: center;
    font-size: 18px;
    padding-top: 35px;
    padding-bottom: 30px;
  }
  .page-node-684603 .trading-account-types .account-type .category-with-spreads .cell-left .txt {
    font-size: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .trading-account-types-page.trading-account-types .account-type .panel-group .panel .panel-body .spread-row .instrument-name {
    float: left;
    max-width: 200px;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-type.show .account-size-area .account-size {
    color: #ffb84f;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .pc-version {
    display: none;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .tablet-version {
    display: block;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .subtitle {
    font-size: 13px;
    padding: 0 10% 50px;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-type .most-popular-account {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-category {
    display: none;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-category.show {
    display: block;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-category.account-category-pro {
    padding: 0;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-content {
    width: 314px;
    float: none;
    margin: auto;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-types-select-tab {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 12px 0;
    position: relative;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-types-select-tab span {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: capitalize;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-types-select-tab.active {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 0 8px 0 rgba(26, 24, 24, 0.25);
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-types-select-tab.active .hide-shadow-line-top {
    height: 10px;
    background: #fff;
    position: absolute;
    bottom: -5px;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-types-select-tab.micro,
  .page-node-684603 .trading-account-types-page.trading-account-types .account-types-select-tab.silver,
  .page-node-684603 .trading-account-types-page.trading-account-types .account-types-select-tab.gold {
    width: 18%;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-types-select-tab.platinum,
  .page-node-684603 .trading-account-types-page.trading-account-types .account-types-select-tab.exclusive {
    width: 23%;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-type {
    width: 100%;
    box-shadow: 0 0 8px 0 rgba(26, 24, 24, 0.25);
    display: none;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-type .panel-group .panel {
    background: none;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-type.show {
    display: block;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-type:active,
  .page-node-684603 .trading-account-types-page.trading-account-types .account-type:focus,
  .page-node-684603 .trading-account-types-page.trading-account-types .account-type:hover,
  .page-node-684603 .trading-account-types-page.trading-account-types .account-type.show {
    margin: 0;
    margin-top: -5px;
    padding-top: 40px;
    border-bottom: none !important;
    border-radius: 6px;
    background-color: #fff;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-type:active .nv-btn-white-open-account,
  .page-node-684603 .trading-account-types-page.trading-account-types .account-type:focus .nv-btn-white-open-account,
  .page-node-684603 .trading-account-types-page.trading-account-types .account-type:hover .nv-btn-white-open-account,
  .page-node-684603 .trading-account-types-page.trading-account-types .account-type.show .nv-btn-white-open-account {
    color: #1d5195 !important;
    border: 1px solid #1d5195 !important;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .account-types {
    box-shadow: none;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .theme-content.account-content-large {
    width: 314px;
  }
  .page-node-684603 .trading-account-types-page.trading-account-types .theme-content.account-content-large .account-type {
    width: 100%;
  }
  html:lang(es) .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .benefits,
  html:lang(es) .trading-account-types-page.trading-account-types .account-type .panel-group .panel-heading .spreads {
    width: 50%;
  }
}
/*# sourceMappingURL=Trading-Account-Types.css.map */