@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../font/opensans-regular.eot');
    src: url('../font/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular.woff') format('woff'),
         url('../font/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* @@ Reset @@ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus { outline: 0; } body { line-height: 1; color: black;} ol, ul { list-style: none; } /* tables still need 'cellspacing="0"' in the markup */ table { border-collapse: separate; border-spacing: 0; } caption, th, td { text-align: left; font-weight: normal; } blockquote:before, blockquote:after, q:before, q:after { content: ""; } blockquote, q { quotes: "" ""; }
/* @@ END RESET @@ */

/* @@ General @@ */
body {
    font-family: Tahoma;
}
iframe {
    border: none!important;
}

a:link,
a:visited {
    text-decoration: underline;
    color: #993300;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

.cedit,
.cnew {
    cursor: pointer;
    text-decoration: underline;
    text-align: left;
    color: #379FDD;
}

#content {
    width: auto;
    float: left;
}

/* @@ General Form styles @@ */

fieldset {
    float: left;
    margin: 5px 0;
    width: 100%;
    /*width: auto*/
    height: auto;
    border: none;
    clear: both;
}

#registration .fieldset2 {
    background-color: #ffffff;
    background: url(../images/skin_3/step-top.png) left top no-repeat;
    padding: 20px 0 0 0;
}

.legend {
    font-family: Arial;
    font-size: 16px;
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #ff4937;
    width: auto;
    height: 22px;
    padding: 8px 0 5px 0px;
border-bottom: 2px solid #dadada;
}

.form_row {
    height: auto;
    width: auto;
    clear: both;
    display: inline-block;
    margin: 0 0 14px 0;
}

#phone_row {
    width: auto; /* Hack for IE6/7 and Opera */
}

#registration .fieldset2 .form_row {
/*    background-color: #ffffff;
    padding: 0;*/
}

.form_row .form-required {
display: none;
}

.form_row label {
color: #1d1819;
font-size: 14px;
font-family: Arial;
margin-bottom: 13px;
display: block;
}

.form_row input {
float: left;
width: 344px;
height: 42px;
padding: 0 12px;
background: #fafafa;
border: 1px solid #e2e2e2;
border-top: 1px solid #d4d4d4;
outline: none;
border-radius: 3px;
font-family: arial;
font-style: italic;
font-size: 14px;
color: #9b9b9b;
line-height: 1.6;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.form_row select {

height: 42px;
padding-left: 12px;
background: #fafafa;
border: 1px solid #e2e2e2;
border-top: 1px solid #d4d4d4;
outline: none;
border-radius: 3px;
font-family: arial;
font-style: italic;
font-size: 14px;
color: #9b9b9b;
line-height: 1.6;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
width: 71%;
}

#registration select {
    width: 344px;
}

/* @@ Specific Form styles @@ */

.form_row .phone_label_country {
font-size: 14px;
color: #9b9b9b;
margin-left: 3px;
font-family: arial;
font-style: italic;
}
.form_row .phone_label_area {
font-size: 14px;
color: #9b9b9b;
margin-left: 18px;
font-family: arial;
font-style: italic;
}

.fr .form_row .phone_label_area,
.es .form_row .phone_label_area,
.tr .form_row .phone_label_area,
.nl .form_row .phone_label_area,
.de .form_row .phone_label_area,
.pt .form_row .phone_label_area,
.pl .form_row .phone_label_area,
.sv .form_row .phone_label_area,
.ro .form_row .phone_label_area
{
    margin-left: 35px;
}


.form_row .phone_label_number {
font-size: 14px;
color: #9b9b9b;
margin-left: 35px;
font-family: arial;
font-style: italic;
}

.form_row .phone-plus,
.form_row .phone-minus {
    display: none;
    /*float: left;
    margin-top: 5px;
    padding-right: 2px;
    text-align: right;*/
}
.form_row .phone-minus {
    padding: 0 2px;
}

.form_row .description {
    margin: -5px 0 5px 15px;
    display: block;
    width: auto;
    color: #696969;
    font-size: 10px;
    clear: both;
}

#phone_label,
#phone1_label,
#phone2_label {
    margin: 29px 0 13px 0px;
}

.form_row .phone_main {
    width: 200px;
}

.form_row .phone_country,
.form_row .phone_city {
    width: 60px;
    padding: 0 5px;
    margin-right: 11px;
}

.form_row .phone_input_wrapper {
    float: left;
    margin: 0px;
}

.form_row #registration_cysec,
.form_row #newproduct_cysec,
.form_row #registration_terms,
.form_row #registration_tradency_terms,
.form_row #registration_opt_in,
.form_row #newproduct_tradency_terms,
.form_row #newproduct_terms{
    width: auto;
    float: left;
    display: block;
    margin: -13px 10px 0px 0px;
    *margin-top: -4px; /* Hack for IE6/7 */
    margin-top: -13px; /* Hack for IE8 */
}

.form_row #registration_cysec{
    margin: 0px 10px 60px 15px;
}

#checkbox_label_cysec,
#checkbox_label,
#tradency_label {
margin: 0;
width: auto;
float: none;
display: inline-block;
font-family: arial;
font-size: 14px;
font-style: italic;
color: #9b9b9b;
margin-top: 15px;
}

/* @@ Submit button @@ */

.submit_wrapper {
    width: 100%;
}

.submit_btn {
    margin: 0px;
    clear: both;
    background-color: #003250;
    border: 1px solid #000;
    color: #ffffff;
    cursor: pointer;
    padding: 3px 10px;
}

/* @@ Error & Help Messages @@ */
/* input border to mark error */
.error {
    border: 1px solid red;
    padding: 4px 8px !important;
}
.form_row select.error {
    border: 1px solid red;
    padding: 0px !important;
}
/* error list for each missing/invalid input */
.error_list {
    display: inline;
    float: left;
    margin: 3px 0 0px 5px;
    width: 90px;
    padding: 0 0 0 12px;
    background: url(../images/skin_3/error.png) left 2px no-repeat;
}
#main_error {
    clear: both;
    display: inline;
    float: left;
    margin: -7px 0 10px 15px;
    width: 95%;
}

#phone_error,
#phone1_error,
#phone2_error {
    margin-top: 19px !important;
}

.error_item {
    color: red;
    font-size: 11px;
}
#terms_error {
    clear: both;
    display: inline;
    float: left;
    margin: 3px 0 10px 15px;
    width: 100%;
}
#financial_information_error {
    clear: both;
    display: inline;
    float: left;
    margin: 0px 0 10px 15px;
}

#financial_information_row select {
    margin-bottom: 7px;
}

.form_help {
    clear: both;
    display: inline;
    float: left;
    margin: 4px 0 5px 180px;
    width: 400px;
    color: #696969;
    font-size: 77%;
 }

/* @@ Flash messages @@ */
.flash_message,
.flash_notice,
.flash_error,
.flash_info,
.flash_wrap {
background-color: #FAFBFC;
min-width: 538px;
background: #e2fccf;
border-color: #c4f8a1;
box-shadow: 0 1px 3px #f2ffe9;
color: #48ad38;
margin: 0 0 20px;
padding: 11px 40px 11px 18px;
border: 1px solid #e2e2e2;
border-radius: 2px;
cursor: default;
margin-top: 20px;
}
.flash_wrap {
    margin: 0 0 10px;
}
.flash_message p,
.flash_notice p,
.flash_error p,
.flash_info,
.flash_wrap p {
    float: left;
    width: 90%;
    color: #003250;
    font-size: 14px;
}

.flash_error p {
    color: red;
}

.flash_message span,
.flash_notice span,
.flash_error span,
.flash_wrap span {
    background: url("../images/sys-msg-icons.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 40px;
    margin: 0;
    width: 40px;
}
.flash_message span.icon {
    background-position: 0 -40px;
}
.flash_notice span.icon {
    background-position: 0 -80px;
}
.flash_error span.icon {
    background-position: 0 0;
}
.flash_wrap span.icon {
    background-position: 0 -120px;
}

/* @@ Login/Logout @@ */
.forgot_pass_link {
    visibility: hidden;
    float: none;
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;

}
.logout_wrapper {
margin: 3px 0px 0 0;
width: 100%;
border-bottom: 1px solid #e1e1e1;
display: inline-block;
}

.logout_username {
    font-family: arial;
font-size: 26px;
color: #130d0f;
float: left;
margin-top: 10px;
}
.logout_myaccount {
    margin: 0 15px 0 0;
    float: left;
}
.logout_logout {
    margin: 10px 0px;
    float: right;
}

.logout_logout a:link,
.logout_logout a:visited {
font-size: 13px;
font-weight: bold;
font-family: arial;
background: #e34735 url(../../img/btn-bg.png) repeat-x top;
border: 1px solid #ff4e1f;
color: #fff;
padding: 10px 20px;
display: inline-block;
border-radius: 2px;
border-bottom: 1px solid #dfdfdf;
box-shadow: 0 1px 2px rgba(0,0,0,0.05);
text-decoration: none;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.fr .logout_logout a:link,
.fr .logout_logout a:visited {
    font-size: 11px;
    width: 103px;
    padding: 7px 0 0 4px;
}

.ar .logout_logout a:link,
.ar .logout_logout a:visited {
    background: url(../images/skin_3/loggedin-btn-ar.png) no-repeat;
    padding: 6px 10px 0 0;
 }

/* @@ Mini login @@ */
#mini_login_username_row,
#mini_login_password_row {
    clear: none;
    float: left;
    padding: 0;
    margin: 0;
}
#mini_login_username_label,
#mini_login_password_label {
    font-size: 11px;
    width: auto;
    margin: 8px 10px 0 0;
    display: none;
}
#mini_login_username,
#mini_login_password {
    font-size: 12px;
    margin-right:13px;
    padding: 0;
    width: 135px;
    height: 29px;
}
#mini_submit_login {
clear: none;
padding: 1px 7px 1px;
line-height: 22px;
font-size: 11px;
margin: 1px 7px 0 0;
background: #e34735 url(../img/btn-bg.png) repeat-x top;
border: 1px solid #df4432;
color: #fff;
text-shadow: 0 -1px 0px #d4281c;
}
#mini_submit_login:hover {
background: #d4281c url(../img/btn-bg.png) repeat-x top;
box-shadow: 0 1px 3px #f9dad7;
border: 1px solid #d4281c;
color: #fff;
text-shadow: 0 -1px 0px #d4281c;
}

#mini_login_username_row span.form-required,
#mini_login_password_row span.form-required {
    visibility: hidden;
    float: none;
    margin: 0;
    width: 0;
}

a:link.mini_forgot_pass_link,
a:visited.mini_forgot_pass_link {
color: #ffffff;
font-size: 12px;
float: left;
margin-top: 15px;
font-family: arial;
}

/* @@ Forgot login/password @@ */
#forgot_wrapper {
    float: left;
    margin: -10px 0 0 0;
    padding: 10px 0 10px 0;
    width: 400px;
    height: auto;
    border: none;
    clear: both;
}
#forgot_wrapper .legend {
    margin: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
}
#forgot_wrapper p {
    margin: 0 0 15px 0;
    color: #003250;
    font-size: 12px;
    width: 400px;
}
#forgot_wrapper .submit_btn {
    margin: 5px 0 0 0;
}

.question {
    background: url(../images/skin_3/question.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    width: 17px;
    position: relative;
    top: 7px;
    left: 2px;
}
#phone_row .question,
#phone1_row .question {
    top: 23px;
}

.tooltip {
    z-index: 999999;
    background: url('../images/tooltip3.png') right 100% no-repeat;
    width: 222px;
    height: 99px;
    display: block;
    position: absolute;
    top: -8px;
    right: 17px;
}
.tooltip span {
    text-align: left;
    font-size: 11px;
    color: #003250;
    display: block;
    padding: 8px;
    width: 90%;
}

#registration .submit_btn {
padding: 16px 20px;
background: #e34735 url(../img/btn-bg.png) repeat-x top;
border: 1px solid #df4432;
color: #fff;
text-shadow: 0 -1px 0px #d4281c;
font-family: arial;
font-size: 20px;
font-weight: bold;
border-radius: 5px;
}
#registration .submit_btn:hover {
        background: #d4281c url(../img/btn-bg.png) repeat-x top;
    box-shadow: 0 1px 3px #f9dad7;
    border: 1px solid #d4281c;

    color: #fff;
    text-shadow: 0 -1px 0px #d4281c;
}

/* Email Alert */
#forgot_login #email_row,
#login #username_row,
#login #password_row {
    padding: 0;
}
#forgot_login #email_label,
#login #username_label,
#login #password_label {
    text-align: right;
    margin: 8px 15px 0 0;
    width: 100px;
}
#forgot_login #forgotlogin_email,
#login #login_username,
#login #login_password {
    border: 1px solid #458ab3;
    background-color: #fdeec4;
    font-size: 18px;
    width: 235px;
}
#forgot_login #email_label .form-required,
#login #username_label .form-required,
#login #password_label .form-required {
    visibility: hidden;
    width: 0;
    height: 0;
}
#forgot_login .submit_btn,
#login #submit_login {
padding: 16px 20px;
background: #e34735 url(../img/btn-bg.png) repeat-x top;
border: 1px solid #df4432;
color: #fff;
text-shadow: 0 -1px 0px #d4281c;
font-family: arial;
font-size: 20px;
font-weight: bold;
border-radius: 5px;
}

/* Thank you page - Account Details widget */
#progressbar_wrapper {
    width: 680px;
}
#pending {
    margin: 20px auto;
    background: url(../images/skin_3/preloader-bg.png) no-repeat;
    height: 104px;
    width: 607px;
    padding: 25px 0 0 0;
}
#pending h3 {
    margin: 0 0 15px 0;
    font-size: 12px;
    font-weight: bold;
    color: #003250;
    text-align: center;
}
#account_details_wrapper {
    margin: 20px auto;
    width: 680px;
    height: auto;
}
#product_details {
    float: left;
    width: 330px;
    height: auto;
    margin: 0 20px 0 0;
}
#account_details {
    float: left;
    width: 330px;
    height: auto;
}
#account_details .title {
    background-color: #7b7979;
    height: 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 8px 10px 8px;
}
#product_details .title {
    background-color: #a9a9a9;
    height: 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 8px 10px 8px;
}
#account_details_wrapper .row {
    background-color: #f5f8fa;
    height: 10px;
    padding: 8px 8px 10px 8px;
    margin: 3px 0;
    clear: both;
}
#account_details_wrapper .key {
    font-size: 12px;
    color: #2f5972;
    float: left;
    margin: 0 10px;
}
#account_details_wrapper .value {
    font-size: 12px;
    color: #2f5972;
    font-weight: bold;
    float: left;
}
#account_details_wrapper .product_error {
    border: 1px solid red;
    background: url(../images/skin_3/product_error.png) 10px 5px no-repeat;
    background-color: white;
    height: 49px;
    color: red;
    font-size: 12px;
    padding: 7px 0 0 40px;
}

/* @@ My Account @@ */
.myaccount_content_wrapper {
    width: 100% !important;
}
.myaccount_content_wrapper .h1-wrap {
display: none;
}
.myaccount_content_wrapper h1 {
color: #171112;
font-size: 18px;
font-weight: normal;
height: 18px;
font-family: arial;
}

#account_wrapper {
    margin: 0 0 20px 0;
}

h3 {
    margin: 0 0 5px 0;
    color: #003250;
    font-size: 18px;
    font-weight: bold;
    height: 17px;
    padding: 15px 10px 5px 45px;
}

h3.auto_icon ,
h3.act_icon {
    background: url(../images/icon-act.png) left top no-repeat;
}
h3.mt4_icon {
    background: url(../images/icon-mt4.png) left top no-repeat;
}

#top-border {
    margin: 0 0 8px 0;
    background-color: #d3e1e8;
    height: 35px;
    width: 100%;
    text-align: right;
}

#top-border div{
    padding: 10px 20px 0 0;
}

#top-border a{
    color:#003250;
    font-size: 13px;
    text-decoration: underline;
    font-weight: bold;
}

#top-border a:hover{
    text-decoration: none;
}


ul.personal_information {
margin: 0;
padding: 10px 20px;
background-color: #fcfcfc;
border: 1px solid #e7e7e7;
list-style-type: none;
border-top: none;
}
ul.personal_information li {
    list-style-type: none;
margin-bottom: 8px;
    *display: inline-block; /* Hack for IE6/7 */
}

ul.personal_information li:last-child {
    background-image: none;
}
ul.personal_information li .personal_information_key {
    display: block;
    float: left;
    /*margin: 0 18px 0 50px;
    width: 30%;
    border-right: 30px solid #f4fafc;
    padding: 2px 0 11px 0;*/
    font-family: arial;
font-size: 14px;
color: #1d1819;
width: 110px;
padding: 15px 0px;
}

ul.personal_information li .personal_information_val {
width: 400px;
background-color: #f2f2f2;
display: inline-block;
padding: 15px;
font-family: arial;
font-size: 14px;
font-style: italic;
color: #9b9b9b;
border-radius: 5px;
}
.account_buttons {
    margin: 0 15px 0 0;
}
.account_buttons a:link,
.account_buttons a:visited {
    float: right;
    background-color: #003250;
    color: white;
    width: 150px;
    height: 18px;
    display: block;
    border: 1px solid #000;
    text-decoration: none;
    text-align: center;
    padding: 3px 0;
}
.account_buttons a:hover {
    background-color: #F9AA1E;
    color: #003250;
}

#resend_email_text {
    float: right;
    margin: 21px 13px 0 0;
    font-size: 12px;
}

#contact-info {
    background: url(../images/skin_2/myaccount-btn.png) no-repeat;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding-top: 7px;
    text-align: center;
    width: 172px;
    height: 30px;
    font-size: 11px;
    font-weight: bold;
    margin: 15px 0 0 0;
    float: right;
    text-decoration: none;
}

#contact-info {
    background: url(../images/skin_3/black_btn.png) no-repeat;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding-top: 9px;
    width: 188px;
    height: 30px;
    font-size: 11px;
    font-weight: bold;
    margin: 15px 0 0 0;
    float: right;
    text-decoration: bone;
}



/* @@ Sidebar @@ */

#sidebar {
    float: left;
    width: 180px;
    margin: 45px 20px;
    padding: 15px;
    border: 1px solid #cccccc;
}

/* @@ Subscriptions @@ */
#dotted-line {
    clear: both;
    margin: 10px 0 0 0;
    background: url(../images/skin_3/dotted-line.png) left bottom repeat-x #ffffff;
    height: 5px;
    width: auto;
}
.bullet_title {
    background: url(../images/skin_3/myaccount-title-bullet.png) left top no-repeat;
    padding: 2px 0 0 27px;
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: bold;
    color: #1977af;
    min-height: 15px;
    height: auto;
   /* min-height: 15px;*/
}

li.subs_checkbox{
    clear:both;
    padding:5px 0 0 0;
    margin: 0px;

}

#subs {
    background-color: #eff6f9;
    padding: 30px 0;
    min-height: 95px;
    height: auto;
}

#subs .form_row{
    padding: 0 40px;
}

#subs ul.checkbox_list {
    margin: 10px 0;
    list-style-type: none;
    width: auto;
}
#subs input.subs_checkbox {
    float: left;
    font-size: 13px;
    margin: 2px 0 0 0;
    padding: 0;
    width: auto;
}
#subs label  {
    clear: none;
    float: none;
    color: #000000;
    font-size: 14px;
    margin: 0 0 0 15px;
    display: inline-block;
    padding: 4px 2px 0 0;
    width: auto;
}
/* fix for normal browsers */
#subs label[for="subscriptions_subscription_opt_in"] {
    float: left;
    padding: 0 2px 0 0;
}

#subs .submit_btn {
    background: url(../images/skin_3/black_btn.png) no-repeat;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 0 0 6px 0;
    width: 172px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.submit_wrapper {
    margin: 20px 0px 0 0;
    background-color: #dce8ed;
    padding: 5px;
    clear: both;
    float: right;
    width: 172px;
    height: 30px;
}

/* @@ Deposit @@ */
.deposit_wrapper {
    margin: 0 0 20px;
}
.deposit_wrapper .payment_desc_wrapper {
    background-color: #FAFBFC;
    border: none;
    border-bottom: 2px solid #E5EAED;
    margin: 0;
    padding: 10px 20px;
}
.deposit_wrapper .payment_text {

}

.deposit_wrapper .payment_image {
    margin: 20px 0 0 0;
}

.submit_deposit {
    float: right;
}
.deposit_language {
    padding: 10px 20px 10px 5px;
}

/* @@ Deposit Credit Card @@ */

#cc_deposit_div,
#new_cc_div,
#edit_cc_div {
    /*
    height: auto;
    background-color: #FAFBFC;
    border: none;
    border-bottom: 2px solid #E5EAED;
    padding: 10px 20px;
    */
    margin: 20px 0 0 0;
}
.cc_deposit_btn {
    margin: 20px 0 0 0;
    float: right;
    background-color: #003250;
    border: 1px solid #000;
    color: #ffffff;
}
#wire-transfer-wrapper p{
    font-size: 13px;
    margin-bottom: 15px
}

#wire-transfer-wrapper #top-border{
    margin: 0px;
}


table#deposit-wire-transfer {
    margin: 0px 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #2E2E2E;
    border:0px;
    float: left;
    margin-bottom: 10px;
}

table#deposit-wire-transfer tr{
    padding: 0 15px;
}

table#deposit-wire-transfer th {
    width: 40%;
    padding: 10px;
    text-align: center;
    background: #e4e8e9;
    border-bottom: 1px solid #ffffff;
}
table#deposit-wire-transfer tbody tr td {
    width: 60%;
    padding: 10px;
    text-align: center;
    background: #e4edf1;
    border-bottom: 1px solid #ffffff;
}
#account_summary {
    
}

table a:link,
table a:visited {
color: #f69f2c;
text-decoration: underline;
display: inline-block;
padding: 0 0 5px;
font-size: 13px;
font-family: arial;
}
table a:hover {
    text-decoration: none;
}

.demo_table_title,
.live_table_title{
	visibility:hidden;
    display: none;
	
}
.demo_table_title {
    background-color: #56829d;
}

table {
    width: 100%;
    font-size: 12px;
    padding: 0;
    margin: 0 0 30px 0;
}

table thead {
    background-color: #FDF4F3;
border: 1px solid #f8d4d0;
}

table thead th {
padding: 18px 0;
text-align: center;
color: #231f20;
font-weight: bold;
border-bottom: 3px solid #ffffff;
font-size: 15px;
border: 1px solid #f8d4d0;
}

table tbody {
}

table tbody td {
color: #130d0f;
border: 1px solid #e9e9e9;
text-align: center;
}
table tbody td.bolder {
    font-weight: bold;
    font-size: 16px!important;
color: #130d0f!important;
}

table tbody td.color {
    
}

table tbody td.td_left {
    text-align: left;
    padding: 0px 0px 0px 11px;
    width: 25%;
}
table tbody td.td_right {
    text-align: right;
    padding: 10px 22px 5px 0;
    width: 25%;
}
table tbody td.valign {
padding: 5px;
vertical-align: middle;
color: #5b5b5b;
font-size: 13px;
}

table tbody td.ctype,
table tbody td.cradio,
table tbody td.cnumber,
table tbody td.cdate,
table tbody td.cedit {
    width: 16.5%;
    height: 60px;
    vertical-align: middle;
}

table tbody td.cedit {
    text-align: center;
}


#deposit_languages_form,
#deposit_producs_form {
    margin: 0 0 20px 0;
}
#deposit_languages_form .form_row,
#deposit_producs_form .form_row {
    padding: 0;
}
#deposit_languages_form label,
#product_selection #real_products_label,
#deposit_producs_form label {
color: #130d0f;
font-size: 17px;
font-family: arial;
width: auto;
margin-right: 25px;
}

.payment_method_desc {
color: #626262;
float: left;
font-size: 14px;
margin-bottom: 30px;
font-family: arial;
}

.cc_statement {
    font-size: 12px;
    margin-top: 60px;
}

.bg_cc_deposit_div {
    background-color: #eff6f9;
    
}
#cc_deposit_div form {
    margin: 0 auto;
    width: 80%;
}
#cc_deposit_div .legend {
    display: none;
}
#cc_deposit_div .form_row {
    padding: 0;
}

#cc_deposit_div label {
    color: #003250;
    font-weight: bold;
}
#cc_deposit_div #cc_deposit_cvv2 {
    width: 35px;
}
#cc_deposit_div #cvv2_help {
    float: left;
    clear: none;
    margin: 10px 0 0px 10px;
    width: auto;
    font-size: 11px;
    color: #003250;
}

#cc_deposit_div .submit_wrapper {
    margin: 20px 90px 0 0;
}
#edit_cc_div .submit_btn,
#new_cc_div .submit_btn,
#cc_deposit_div .submit_btn {
    background: url(../images/skin_3/black_btn.png) no-repeat;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 0 0 6px 0;
    width: 172px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#change_password_wrapper {
    background-color: #eff6f9;
    width: 100%;
    height: auto;
    padding: 20px 0;
}
#change_password .submit_btn {
    margin: 0px 0 0 0;
    background: url(../images/skin_3/black_btn.png) no-repeat;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 0 0 6px 0;
    width: 172px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    clear: both;
    float: right;
}
#new_account_wrapper {
    background-color: #eff6f9;
    width: 100%;
    min-height: 175px;
    height: auto;
    padding: 20px 0;
}


#new_account_wrapper_step1 form {
    width: 70%;
    margin: 0 auto;
}

#newproduct .form_row {
    padding: 0;
}
#newproduct select {
    width: 220px;
}

#date_of_birth_row select {
    width: 89px;
}
#registration_date_of_birth_day {
width: 65px!important;
}
#registration_date_of_birth_month {
width: 138px!important;
margin: 0px 13px 0px 15px;
}
#registration_date_of_birth_year {
width: 113px!important;
}
#newproduct .submit_wrapper {
    margin: 10px 80px 0 0;
}
/*
#transfer .submit_btn,
#newproduct .submit_btn {
   background: url(../images/skin_3/black_btn.png) no-repeat; 
  
   
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 0 0 6px 0;
    width: 172px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
*/
#cc_deposit_text {
    color: #003250;
    float: left;
    font-size: 12px;
    text-align: left;
    width: 100%;
}

#cc_product_details {
    font-weight: bold;
    float: left;
    margin-left: 10px;
}
.cc_deposit_change_account {
    float :right;
}

#product_selection #real_products_label {
    width: 300px;
    margin-left: 0;
}

#product_selection .form_row {
    padding: 0;
    margin: 0;
}
.cc_product_title {
    float: left;
}

.cc_deposit_change_account a {
    color: #379FDD;
    font-weight: bold;
}

.cc_title_margin {
    margin: 30px 0;
}

/* document*/

.ex_title{
color: #130d0f;
font-weight: bold;
font-size: 17px;
font-family: arial;
}

.ex_content{
padding: 2px 10px 2px 27px;
font-size: 15px;
font-family: arial;
font-weight: bold;
margin: 8px 0 0;
color: #0da979;
}
.ex_content ul{
    list-style: decimal;
    padding-left: 10px;
    padding-top:10px;
    font-weight: bold;
}

.ex_content li{
    padding-bottom: 30px;
}

.ex_content li span{
    font-weight: normal;
    color: #130d0f;
}

#upload_document_wrapper{
clear: both;
background: #ffffff;
width: 99%;
border: 1px solid #e4e4e4;
border-radius: 5px;
padding-top: 15px;
}

#document_document_type,
#document_document_file,
#document_document_comment{
    clear: both;
}

#upload_document_wrapper .form_row{
padding: 0px 20px;
width: 94%;
margin-bottom: 20px;
}


#document_document_file{
    width:71%;
    *width:71%;
}

#document_document_comment{
    width: 100%;
padding-left: 12px;
background: #fafafa;
border: 1px solid #e2e2e2;
border-top: 1px solid #d4d4d4;
outline: none;
border-radius: 3px;
font-family: arial;
font-style: italic;
font-size: 14px;
color: #9b9b9b;
line-height: 1.6;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}


#upload_document #username_row .question{
    display: none;
}

#upload_document .form_row_submit{
    width:535px;
}
#upload_document .form_row .submit_btn {
  background: #2fc653 none repeat scroll 0 0;
  border-radius: 10px;
  color: #fff;
  font-family: "Titillium Web",sans-serif;
  font-size: 14px;
  padding: 10px;
  border: 0px solid #333;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
 /* margin: 0px 0px 15px 15px; */
 margin: 0px;
  width: auto;
  cursor: pointer;
}
#upload_document .form_row .submit_btn:hover {
color: #6f6e70;
}
/*
#upload_document .form_row .submit_btn{
padding: 6px 31px;
text-transform: uppercase;
border: none;
font-size: 16px;
font-weight: bold;
font-family: 'Titillium web';
border-bottom: 3px solid #059468;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color: #ffffff;
background-color: #059468;
cursor: pointer;
width: auto;
font-style: normal;
}
#upload_document .form_row .submit_btn:hover{
background: #fbd52c;
text-shadow: 0px 1px 1px #fff;
border-bottom: 3px solid #9e8000;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color: #00AB73;
background-color: #FDD731;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FDD731), to(#EFC50E));
background-image: -webkit-linear-gradient(top, #FDD731, #EFC50E);
background-image: -moz-linear-gradient(top, #FDD731, #EFC50E);
background-image: -ms-linear-gradient(top, #FDD731, #EFC50E);
background-image: -o-linear-gradient(top, #FDD731, #EFC50E);
background-image: linear-gradient(to bottom, #FDD731, #EFC50E);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FDD731, endColorstr=#EFC50E);
    }
*/
#upload_document_wrapper #document_type_row,
#upload_document_wrapper #document_file_row{

}


#upload_document_wrapper #document_comment_row{
    
}

#upload_document_wrapper .error_list{
    clear:both;
    width:200px;
}

#upload_document_wrapper #document_file_help{
width: 180px;
font-size: 12px;
margin: 4px 0 5px;
color: #9b9b9b;
font-style: italic;
}


/*transfer*/

#transfer_wrapper{
    padding-top: 15px;
}

#transfer_wrapper .form_row label{
    width: 210px;
}

#transfer_wrapper #transfer_amount{
    width:100px;
}

#transfer .submit_wrapper{
    margin:  20px 210px 0 0;
    *position: relative;
    *right:210px;
    *margin-right:0px;
}


/* *****************
**** Withdrawal ****
*******************/
#withdrawal_form {
    background-color: #EFF6F9;
    height: auto;
    padding: 20px 0;
    width: 100%;
}

.withdrawal_form_fields {
    width: 80%;
    margin: 0 auto;
}

#withdrawal_form fieldset {
    background-color: #eff6f9;
}
#withdrawal_form select {
    width: 200px;
}
#withdrawal_form .form_row input {
    width: 183px;
}

#withdrawal_form .btns-wrapper {
    margin: 10px 0 0 0;
    float: right;
    width: 100%;
}

#withdrawal_form .continue_wrapper {
    clear: none;
    background-color: #DCE8ED;
    float: right;
    height: 30px;
    margin: 20px 175px 20px 0;
    padding: 5px;
    width: 172px;
}

#withdrawal_form .submit_wrapper {
    clear: none;
    background-color: #DCE8ED;
    float: right;
    height: 30px;
    margin: 20px 0 20px 0;
    padding: 5px;
    width: 172px;
}

#withdrawal_form .submit_btn {
    background: url(../images/skin_3/black_btn.png) no-repeat;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 0 0 6px 0;
    width: 172px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#withdrawal_form .back_wrapper {
    margin: 20px 12px;
    background-color: #DCE8ED;
    float: right;
    height: 30px;
    padding: 5px;
    width: 172px;

}

#withdrawal_form a:link.back_btn,
#withdrawal_form a:visited.back_btn {
    background: url(../images/skin_3/black_btn.png) no-repeat;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 4px 0 0 0;
    width: 172px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    display: block;
    text-align: center;
}

#withdrawal_form .error_list {
    width: 210px;
    margin: 3px 0 0 180px;
}
#withdrawal_form #main_error.error_list {
    margin: 0;
    clear: both;
    float: left;
    margin: -7px 0 10px 63px;
}
.withdrawal_note {
    margin: 20px 5px 0 5px;
    color: #003250;
    font-size: 12px;
    line-height: 14px;
}

#login .tooltip,
#login .question {
    display: none;
}

/* *****************
* Platform Buttons *
*******************/
table tbody td.valign2 {
    height: 75px;
    vertical-align: middle;
    width: 170px;
}

.platform_btn_act {
    padding: 0 !important;
    margin: 0 auto;
    background: url(../images/skin_3/platform-btns/en/en1.png) no-repeat;
    width: 158px;
    height: 29px;
    display: block;
    text-indent: -9999px;

    font-size: 0;
    display:block;
    line-height: 0;
}
.platform_btn_tradency {
    padding: 0 !important;
    margin: 0 auto;
    background: url(../images/skin_3/platform-btns/en/en2.png) no-repeat;
    width: 158px;
    height: 29px;
    display: block;
    text-indent: -9999px;

    font-size: 0;
    display:block;
    line-height: 0;
}
.platform_btn_mt4 {
    padding: 0 !important;
    margin: 0 auto;
    background: url(../images/skin_3/platform-btns/en/en3.png) no-repeat;
    width: 158px;
    height: 29px;
    display: block;
    text-indent: -9999px;

    font-size: 0;
    display:block;
    line-height: 0;
}

.de .platform_btn_act {
    background: url(../images/skin_3/platform-btns/de/de1.png) no-repeat;
}
.de .platform_btn_tradency {
    background: url(../images/skin_3/platform-btns/de/de2.png) no-repeat;
}
.de .platform_btn_mt4 {
    background: url(../images/skin_3/platform-btns/de/de3.png) no-repeat;
}
.es .platform_btn_act {
    background: url(../images/skin_3/platform-btns/es/es1.png) no-repeat;
}
.es .platform_btn_tradency {
    background: url(../images/skin_3/platform-btns/es/es2.png) no-repeat;
}
.es .platform_btn_mt4 {
    background: url(../images/skin_3/platform-btns/es/es3.png) no-repeat;
}
.fr .platform_btn_act {
    background: url(../images/skin_3/platform-btns/fr/fr1.png) no-repeat;
}
.fr .platform_btn_tradency {
    background: url(../images/skin_3/platform-btns/fr/fr2.png) no-repeat;
}
.fr .platform_btn_mt4 {
    background: url(../images/skin_3/platform-btns/fr/fr3.png) no-repeat;
}
.pt .platform_btn_act {
    background: url(../images/skin_3/platform-btns/pt/pt1.png) no-repeat;
}
.pt .platform_btn_tradency {
    background: url(../images/skin_3/platform-btns/pt/pt2.png) no-repeat;
}
.pt .platform_btn_mt4 {
    background: url(../images/skin_3/platform-btns/pt/pt3.png) no-repeat;
}
.ru .platform_btn_act {
    background: url(../images/skin_3/platform-btns/ru/ru1.png) no-repeat;
}
.ru .platform_btn_tradency {
    background: url(../images/skin_3/platform-btns/ru/ru2.png) no-repeat;
}
.ru .platform_btn_mt4 {
    background: url(../images/skin_3/platform-btns/ru/ru3.png) no-repeat;
}
.tr .platform_btn_act {
    background: url(../images/skin_3/platform-btns/tr/tr1.png) no-repeat;
}
.tr .platform_btn_tradency {
    background: url(../images/skin_3/platform-btns/tr/tr2.png) no-repeat;
}
.tr .platform_btn_mt4 {
    background: url(../images/skin_3/platform-btns/tr/tr3.png) no-repeat;
}
.ar .platform_btn_act {
    background: url(../images/skin_3/platform-btns/ar/ar1.png) no-repeat;
    text-decoration: none;
}
.ar .platform_btn_tradency {
    background: url(../images/skin_3/platform-btns/ar/ar2.png) no-repeat;
    text-decoration: none;
}
.ar .platform_btn_mt4 {
    background: url(../images/skin_3/platform-btns/ar/ar3.png) no-repeat;
    text-decoration: none;
}
.ro .platform_btn_act {
    background: url(../images/skin_3/platform-btns/ro/ro1.png) no-repeat;
    text-decoration: none;
}
.ro .platform_btn_tradency {
    background: url(../images/skin_3/platform-btns/ro/ro2.png) no-repeat;
    text-decoration: none;
}
.ro .platform_btn_mt4 {
    background: url(../images/skin_3/platform-btns/ro/ro3.png) no-repeat;
    text-decoration: none;
}

/* Account Summary - No Live accounts area */
#live_summary {
    margin: 0 auto;
    width: 90%;
}
#live_summary .btn-holder-left {
    float: left;
    margin: 0 40px 0 20px;
}
#live_summary .btn-holder-right {
    float: left;
}
#live_summary .btn-holder-left a:link,
#live_summary .btn-holder-left a:visited {
    background: url(../images/skin_3/platform-btns/en/fund.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
#live_summary .btn-holder-right a:link,
#live_summary .btn-holder-right a:visited {
    background: url(../images/skin_3/platform-btns/en/open_live.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}

.ar #live_summary .btn-holder-left a:link,
.ar #live_summary .btn-holder-left a:visited {
    background: url(../images/skin_3/platform-btns/ar/fund.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.ar #live_summary .btn-holder-right a:link,
.ar #live_summary .btn-holder-right a:visited {
    background: url(../images/skin_3/platform-btns/ar/open_live.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.de #live_summary .btn-holder-left a:link,
.de #live_summary .btn-holder-left a:visited {
    background: url(../images/skin_3/platform-btns/de/fund.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.de #live_summary .btn-holder-right a:link,
.de #live_summary .btn-holder-right a:visited {
    background: url(../images/skin_3/platform-btns/de/open_live.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.es #live_summary .btn-holder-left a:link,
.es #live_summary .btn-holder-left a:visited {
    background: url(../images/skin_3/platform-btns/es/fund.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.es #live_summary .btn-holder-right a:link,
.es #live_summary .btn-holder-right a:visited {
    background: url(../images/skin_3/platform-btns/es/open_live.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.fr #live_summary .btn-holder-left a:link,
.fr #live_summary .btn-holder-left a:visited {
    background: url(../images/skin_3/platform-btns/fr/fund.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.fr #live_summary .btn-holder-right a:link,
.fr #live_summary .btn-holder-right a:visited {
    background: url(../images/skin_3/platform-btns/fr/open_live.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.pt #live_summary .btn-holder-left a:link,
.pt #live_summary .btn-holder-left a:visited {
    background: url(../images/skin_3/platform-btns/pt/fund.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.pt #live_summary .btn-holder-right a:link,
.pt #live_summary .btn-holder-right a:visited {
    background: url(../images/skin_3/platform-btns/pt/open_live.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.ru #live_summary .btn-holder-left a:link,
.ru #live_summary .btn-holder-left a:visited {
    background: url(../images/skin_3/platform-btns/ru/fund.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.ru #live_summary .btn-holder-right a:link,
.ru #live_summary .btn-holder-right a:visited {
    background: url(../images/skin_3/platform-btns/ru/open_live.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.tr #live_summary .btn-holder-left a:link,
.tr #live_summary .btn-holder-left a:visited {
    background: url(../images/skin_3/platform-btns/tr/fund.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.tr #live_summary .btn-holder-right a:link,
.tr #live_summary .btn-holder-right a:visited {
    background: url(../images/skin_3/platform-btns/tr/open_live.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.ro #live_summary .btn-holder-left a:link,
.ro #live_summary .btn-holder-left a:visited {
    background: url(../images/skin_3/platform-btns/ro/fund.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}
.ro #live_summary .btn-holder-right a:link,
.ro #live_summary .btn-holder-right a:visited {
    background: url(../images/skin_3/platform-btns/ro/open_live.png) no-repeat;
    display: block;
    width: 270px;
    height: 55px;
}

/*blocked clients*/

#blocked{
    border:3px solid red;
    padding:5px;
    height: 500px;
    width:663px;
    float: left;
}

#blocked_msg{
    padding:30px;
    float: left;
    font-size: 12px;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ /ARABIC\ @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
body.ar {
    direction: rtl;
}
.ar #content {
    float: right;
    *width: 680px; /* Hack for IE6/7 */
}
.ar #content h1 {
    padding: 5px 0px 5px 15px;
}
.ar fieldset {
    float: right;
}
.ar .legend {
    margin: 0 0 10px 0;
    padding: 12px 25px 0 0;
}


.ar #top-border {
    text-align: left;
}

.ar #top-border div{
    padding: 10px 0px 0 20px;
}

.ar .form_row .form-required {
    float: right;
    margin: 2px -13px 0 3px;
}

.ar .form_row label {
    float: right;
    margin: 6px 15px 0 0;
    padding: 0 0 0 2px;
    text-align: right;    
}

.ar .form_row input {
    float: right;
}

/* must stay like LTR to prevent bug */
.ar #phone_row input,
.ar #phone1_row input,
.ar #phone2_row input {
    float: left !important;
}

.ar .form_row select {
    float: right;
    margin: 5px 0 7px 5px;
}

.ar .form_row .phone_main {
    width: 116px;
}

.ar .form_row .phone_label_country {
    float: left;
    margin: 0 0 0 40px;
}
.ar .form_row .phone_label_area {
    float: left;
    margin: 0 35px 0 35px;
}
.ar .form_row .phone_label_number {
    float: left;
    margin: 0 0 0 85px;
}

.ar .form_row .phone-plus,
.ar .form_row .phone-minus {
    float: left;
    padding: 1px 2px 0 2px;
    text-align: right;
}

.ar #phone_label,
.ar #phone1_label,
.ar #phone2_label {
    margin: 20px 15px 0 0;
}

.ar .form_row .description {
    margin: -5px 15px 5px 0;
}

.ar #registration_phone_label,
.ar #registration_phone1_label,
.ar #registration_phone2_label {
    margin: 25px 15px 0 0;
}
.ar .form_row .phone_input_wrapper {
    float: right;
    margin: 0 0 5px 0;
}

.ar .form_row #registration_cysec,
.ar .form_row #newproduct_cysec,
.ar .form_row #registration_terms,
.ar .form_row #registration_tradency_terms,
.ar .form_row #registration_opt_in,
.ar .form_row #newproduct_tradency_terms,
.ar .form_row #newproduct_terms{
    float: right;
    margin: 0 15px 0 10px;
    *margin-top: -4px; /* Hack for IE6/7 */
    margin-top: -3px\0/; /* Hack for IE8 */
}

.ar #registration .submit_btn {
    float: left;
}

.ar #forgot_login .submit_btn,
.ar #login #submit_login {
    float: left;
    margin: 0 0 0 32px;

    *float: right;
    *margin: 0 275px 0 0;
}

.ar .error_list {
    float: left;
    background: url(../images/skin_3/error-ar.png) right 2px no-repeat;
    margin: 3px 5px 0 0;
    padding: 0 12px 0 0;
}
.ar #main_error {
    float: right;
    margin: -7px 15px 10px 0;
}
.ar #terms_error {
    float: right;
    margin: 0px 15px 10px 0;
}
.ar #financial_information_error {
    float: right;
    margin: 0px 15px 10px 0;
}
.ar .form_help {
    float: right;
    margin: 0px 176px 10px 0;
 }

.ar .flash_message p,
.ar .flash_notice p,
.ar .flash_error p,
.ar .flash_info p,
.ar .flash_wrap p {
    float: right;
}
.ar .flash_message span,
.ar .flash_notice span,
.ar .flash_error span,
.ar .flash_info span,
.ar .flash_wrap span {
    float: left;
}
.ar h3 {
    padding: 15px 45px 5px 10px;
}
.ar h3.act_icon {
    background: url(../images/icon-act.png) right top no-repeat;
}
.ar h3.mt4_icon {
    background: url(../images/icon-mt4.png) right top no-repeat;
}

.ar ul.account_details li span {
    border: none;
    border-left: 1px solid #7C95A5;
    float: right;
    margin: 0 0 0 18px;
}
.ar .account_buttons {
    margin: 0 0 0 15px;
}
.ar .account_buttons a:link,
.ar .account_buttons a:visited {
    float: left;
}

.ar #resend_email_text {
    float: left;
}

.ar #contact-info {
    float: left;
}
.ar #sidebar {
    float: right;
}
.ar #sidebar ul li a:link,
.ar #sidebar ul li a:visited {
    padding: 5px 12px 5px 14px;
}
.ar #subs input.subs_checkbox {
    float: right;
}
.ar #subs label  {
    margin: 0 15px 0 0;
    padding: 4px 0 0 2px;
}
.ar #subs label[for="subscriptions_subscription_opt_in"] {
    float: right;
    padding: 0 0 0 2px;
}

.ar #deposit_languages_form label,
.ar #product_selection #real_products_label,
.ar #deposit_producs_form label{
    background: url(../images/skin_3/myaccount-title-bullet-ar.png) no-repeat scroll right top transparent;
    padding: 2px 27px 2px 10px;

}

.ar .submit_deposit {
    float: left;
}
.ar .deposit_language {
    padding: 10px 5px 10px 20px;
}

.ar .cc_deposit_btn {
    float: left;
}

.ar ul.personal_information li .personal_information_key {
    display: block;
    float: right;
    margin: 0 50px 0 18px;
    width: 30%;
    border-left: 30px solid #f4fafc;
    border-right: none;
    padding: 2px 0 11px 0;
}

.ar #newproduct .submit_wrapper ,
.ar #change_password .submit_wrapper {
    float: left;
}

.ar .forgot_pass_link {
    float: left;
    margin: 0 0 0 143px;
    text-align: left;
}
.ar #submit_login {
    margin: 10px 0 0 143px;
}
.ar .logout_wrapper{
    float: left;
    margin: 3px 0 0 0;    
}
.ar .logout_username {
    margin: 0 0 0 15px;
    float: left;
    background: url("../images/skin_3/loggedin.png") right top no-repeat;
    padding: 8px 30px 0 0;
}
.ar .logout_myaccount {
    margin: 0 0 0 15px;
    float: right;
}
.ar .logout_logout {
    float: left;
}

.ar #mini_login_username_row{
    float: right;
    *width: 210px; /* Hack for IE6/7 */
}
.ar #mini_login_password_row {
    float: right;
    *width: 185px; /* Hack for IE6/7 */
}

.ar #mini_login_username_label {
    *width: 85px; /* Hack for IE6/7 */
    *margin: 8px 0 0 0; /* Hack for IE6/7 */
}
.ar #mini_login_password_label {
    *width: 60px; /* Hack for IE6/7 */
    *margin: 8px 0 0 0; /* Hack for IE6/7 */
}

.ar #mini_submit_login {
    margin: 5px 10px 0 0;
    *margin: 5px 0 0 0;
    float: right;
}
.ar a:link.mini_forgot_pass_link,
.ar a:visited.mini_forgot_pass_link {
    float: right;
    margin: 0 22px 2px 0;
}
.ar #forgot_wrapper {
    float: right;
}

.ar .question {
    background: url(../images/skin_3/question.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    width: 17px;
    position: relative;
    top: 6px;
    left: -5px;
}
.ar .tooltip {
    width: 222px;
    height: 99px;
    z-index: 999999;
    background: url('../images/tooltip3-ar.png') right top no-repeat;
    position: absolute;
    top: -8px;
    right: -225px;
}
.ar .tooltip span {
    direction: rtl;
    text-align: right;
    font-size: 11px;
    color: #003250;
    display: block;
    padding: 8px;
    width: 90%;
}
.ar #phone_row .question,
.ar #phone1_row .question {
    top: 17px;
}

.ar #checkbox_label_cysec,
.ar #checkbox_label,
.ar #tradency_label {
    margin: 0;
    width: auto;
    *width: 680px; /* Hack for IE6/7 */
    display: inline-block;
    float: right;
}

.ar #cc_deposit_div #cvv2_help{
    float: right;
    margin:10px 10px 0px 0px;
}

.ar .bullet_title{
    background: url(../images/skin_3/myaccount-title-bullet-ar.png) no-repeat right top;
    padding:2px 27px 0px 0px;
}

.ar .submit_wrapper{
    float: left;
}
.ar #cc_deposit_div .submit_wrapper{
    margin: 20px 0 0 90px;
}

.ui-widget-content { border: none; background: #00739a; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: none; background: #d1d2d1; color: #eaf5f7; font-weight: bold; }

.ar .submit_btn{
    float: left;
}
.ar .ex_title{
    background: url(../images/skin_2/myaccount-title-bullet-rtl.png) no-repeat scroll right top;
    padding: 2px 27px 2px 10px;
    float: right;
    text-align: right;
}

.ar .ex_content{
    padding: 2px 27px 40px 10px;
    float: right;
    text-align: right;
}

.ar #upload_document_wrapper .form_row{
    *padding:0px 30px 0px 90px;
}

.ar #upload_document .form_row .submit_btn{
    float: left;
}

.ar #upload_document_wrapper{
    float: right;
}

.ar #upload_document_wrapper #document_comment_row{
    padding: 0 30px 0 0px;
}


.ar #upload_document_wrapper #document_type_row,
.ar #upload_document_wrapper #document_file_row{
    float: right;
    *width:175px;
}

.ar #upload_document_wrapper .error_list{
    float: right;
}

.ar #transfer .submit_wrapper{
    margin:  20px 0px 0 205px;
    *position: relative;
    *right:-210px;
    *margin-left:0px;
}

.ar #withdrawal_form .error_list {
    margin: 3px 180px 0 0;
    float:right;
}
.ar #withdrawal_form #main_error.error_list {
    margin: 0;
    clear: both;
    float: right;
    margin: -7px 63px 10px 0;
}

.ar #withdrawal_form .btns-wrapper {
    float: left;
    width: 100%;
}

.ar #withdrawal_form .continue_wrapper {
    clear: none;
    float: left;
    margin: 20px 0 20px 175px;
}
.ar #withdrawal_form .submit_wrapper {
    clear: none;
    float: left;
}
.ar #withdrawal_form .back_wrapper {
    float: left;
}
.ar #blocked{
    float: right;
}

.ar #blocked_msg{
    float: right;
}
.close_form {
    display: block;
}
.close_form form {
    float: right;
    margin-top: 7px;
    width: 400px;
}
.branded_image {
    display: none;
}

.porto_blue {
	color: #0ca9fd;
	font-style: italic;
	font-family: "Shadows Into Light", cursive;
font-size: 32px;
}

.reports_button{
margin: 5px 5px 11px 0px;
border-radius: 5px;
box-shadow: 0 1px 2px rgba(0,0,0,0.05);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
padding: 10px 12px!important;
border: 1px solid #e3e3e3;
color: #ffffff!important;
text-decoration: none!important;
font-style: italic;
background: #e34735;
}

a.reports_button:hover {
	background: #ff3c15;
}

.branded_title {display:none!important;}
#branded_header {display:none!important;}
#deposit_products_real_products,
#deposit_country_country
 {
    width: 379px;
}
#deposit_wrapper table th {
    background: url(../img/table_th.png) repeat-x;
    padding: 10px 0px;
    font-family: arial;
font-weight: bold;
font-size: 15px;
color: #ffffff;
border: 1px solid #D2442F;
}
#sidebar {display: none;}


.myaccount_content_wrapper.questionnaire_action #newproduct .form_row {
  width:50%;
}
.myaccount_content_wrapper.questionnaire_action #newproduct .form_row .description {
  
  margin: 5px 0 5px 15px;

}
.myaccount_content_wrapper.questionnaire_action #newproduct #fiindustrydetails_row {
  clear: both;
  display: block;
}
.myaccount_content_wrapper.questionnaire_action #newproduct #fisourceofincome_row {
  margin-top: 10px;
}
.myaccount_content_wrapper.questionnaire_action #newproduct #fisourceofincomedetails_row {
  clear: both;
  display: block;
}
.myaccount_content_wrapper.questionnaire_action #newproduct #fatcaradiobox_row {
  clear: both;
  display: block;
}
.myaccount_content_wrapper.questionnaire_action #newproduct #citizenship_row {
  margin-top: 10px;
}
.myaccount_content_wrapper.questionnaire_action #newproduct .form_row input#questionnaire_fatcaradiobox_0  , .myaccount_content_wrapper.questionnaire_action #newproduct .form_row input#questionnaire_fatcaradiobox_1{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  width: auto;
}
.myaccount_content_wrapper.questionnaire_action #newproduct .fatca_info_link {
  clear: both;
  display: none;
}
.myaccount_content_wrapper.questionnaire_action #newproduct #fatcaradiobox_row.form_row {
  width: auto;
}
.myaccount_content_wrapper.questionnaire_action #newproduct #fatcaradiobox_row .radio_list > li {
  float: left;
  width: 100px;
}
#transfer .submit_btn,
#newproduct .submit_btn {
padding: 6px 10px;
text-transform: uppercase;
border: none;
font-size: 14px;
font-weight: normal;
font-family: 'Titillium web',sans-serif;
  border-radius: 10px;

color: #ffffff;
background-color: #2fc653;
}
#transfer .submit_btn:hover,
#newproduct .submit_btn:hover {
padding: 6px 10px;
text-transform: uppercase;
border: none;
font-size: 14px;
font-weight: normal;
font-family: 'Titillium web',sans-serif;
  border-radius: 10px;

color: #ffffff;
background-color: #2fc653;
}

/***** CC Verification  ***/
.CreditCardVerificationDocuments_action .form-required,
.CreditCardVerificationDocuments_action .form_help{
    display: none;
}
.CreditCardVerificationDocuments_action #credit_card_row{
    clear: both;
    width: 100%;
    margin-bottom: 40px;
}

.CreditCardVerificationDocuments_action #credit_card_frontside_file_row{
    display: block;
    background-image: url(../img/bg_credit_card_front.png);
    background-repeat: no-repeat;
    background-position: 0px 40px;
    float: left;
    width: 249px;
    height: 275px;
    clear: none;
}
.CreditCardVerificationDocuments_action #credit_card_backside_file_row{
    display: block;
    background-image: url(../img/bg_credit_card_back.png);
    background-repeat: no-repeat;
    background-position: 0px 40px;
    float: left;
    width: 249px;
    height: 275px;
    clear: none;
    margin-left: 50px;
}
.CreditCardVerificationDocuments_action #credit_card_frontside_file_row.disabled{
    background-image: url(../img/bg_credit_card_front_gray.png);
}
.CreditCardVerificationDocuments_action #credit_card_backside_file_row.disabled{
    background-image: url(../img/bg_credit_card_back_gray.png);
}
.CreditCardVerificationDocuments_action .form_row_submit{
    clear: both;
    width: 100%;
    margin-left: 180px;
}

.CreditCardVerificationDocuments_action #submit_upload_credit_card,
.CreditCardVerificationDocumentsList_action .submit_btn
{
    background-color: transparent;
    background-image: url(../img/bg_submit_btn.png);
    width: 149px;
    height: 25px;
    display: block;
    cursor: pointer;
    color: #000;
    text-align: center;
    padding: 3px 7px;
    border: 0;
    margin: 5px 0;
}
.CreditCardVerificationDocumentsList_action .submit_btn{
    padding: 0;
    margin: 0 auto;
    margin-top: 45px;
    padding-top: 3px;
    height: 22px;
    float: none;
    vertical-align: middle;
}
.CreditCardVerificationDocumentsList_action  .wrap_button:hover{
    text-decoration: none;
}
.CreditCardVerificationDocuments_action #submit_upload_credit_card.disabled,
.CreditCardVerificationDocuments_action #submit_upload_credit_card:disabled {
    background-image: none;
    border-radius: 5px;
    background-color: #7e7e7e;
    border: 1px solid #d5d7d6;
    color: #d5d7d6;
    cursor: auto;
}




.CreditCardVerificationDocuments_action #credit_card_frontside_file_row input[type="file"],
.CreditCardVerificationDocuments_action #credit_card_backside_file_row input[type="file"]
{
    border: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    margin-top: -20px;
    height: 0px;
    padding-top: 18px;
    cursor: pointer;
}
.CreditCardVerificationDocuments_action .wrap_file_input{
    background-image: url(../img/bg_browse_btn.png);
    width: 89px;
    height: 20px;
    display: block;
    margin-top: 205px;
    cursor: pointer;
    color: #000;
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
}
.CreditCardVerificationDocuments_action .wrap_file_input.disabled{
    background-image: none;
    border-radius: 5px;
    background-color: #7e7e7e;
    border: 1px solid #d5d7d6;
    color: #d5d7d6;
    cursor: auto;
}

.CreditCardVerificationDocuments_action .name_of_file{
    position: absolute;
    max-width: 160px;
    margin-left: 100px;
    margin-top: -15px;
    font-size: 10px;
    color: #000;
    font-weight: bold;
    cursor: default;
    overflow: hidden;
    height: 14px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.CreditCardVerificationDocuments_action .status_of_file{
    position: absolute;
    margin-left: 100px;
    margin-top: -15px;
    font-size: 10px;
    color: #000;
    font-weight: bold;
    cursor: default;
}

.ar .CreditCardVerificationDocuments_action .status_of_file,
.ar .CreditCardVerificationDocuments_action .name_of_file{
    margin-right: 100px;
}
.CreditCardVerificationDocuments_action .status_of_file.status-uploaded,
.CreditCardVerificationDocuments_action .status_of_file.status-approved{
    background-image: url(../img/bg_uploaded_tick.png);
    background-repeat: no-repeat;
    color: #12a846;
    padding-left: 12px;
}
.CreditCardVerificationDocuments_action .status_of_file.status-uploaded{
    margin-top: 0;
}
.CreditCardVerificationDocuments_action .status_of_file.status-rejected,
.CreditCardVerificationDocuments_action .status_of_file.status-expired{
    color: #db1f26;
    margin-top: 0;
}

.CreditCardVerificationDocuments_action .status_of_file.status-pending,
.CreditCardVerificationDocuments_action .status_of_file.status-inprocess{
    color: dodgerblue;
}

.CreditCardVerificationDocuments_action #credit_card_frontside_file_row label,
.CreditCardVerificationDocuments_action #credit_card_backside_file_row label
{
    margin-left: 40px;
}
.en .CreditCardVerificationDocuments_action #credit_card_frontside_file_row label,
.en  .CreditCardVerificationDocuments_action #credit_card_backside_file_row label
{
    margin-top: 10px;
}

.ar .CreditCardVerificationDocuments_action #credit_card_frontside_file_row label,
.ar  .CreditCardVerificationDocuments_action #credit_card_backside_file_row label
{
    margin-top: 10px;
    margin-right: 40px;
}
/*
.CreditCardVerificationDocuments_action .question{
    top: -229px;
}*/
.CreditCardVerificationDocuments_action .question {
  background: rgba(0, 0, 0, 0) url("../img/question.png") no-repeat scroll 0 0;
  height: 30px;
  top: -249px;
  width: 30px;
}

.CreditCardVerificationDocuments_action label.dd-selected-text,
.CreditCardVerificationDocuments_action label.dd-option-text
{
    display :inline;
    height: auto;
    margin: 0;
    padding: 0;
    float: none;
    width: auto;
    color: #000;
    line-height: 13px!important;
}
.CreditCardVerificationDocuments_action div.dd-select{
    height: 32px;
}
.CreditCardVerificationDocuments_action  a.dd-selected{
    position: absolute;
}
#credit_card_document_id.dd-container{
    margin-left: 125px;
}

.CreditCardVerificationDocuments_action #main_error{
    position: absolute;
    margin-top: 332px;
}

.CreditCardVerificationDocuments_action  .error_list {
    margin: 15px 0 0px 3px;
    width: 232px;
    padding: 0 ;
}

.CreditCardVerificationDocumentsList_action .wrap_credit_verification_status{
    width: 710px;
    margin: 0 auto;
}
.CreditCardVerificationDocumentsList_action .title_image{
    background-image: url(../img/bg_status_credit_cards.png);
    width: 95px;
    height: 85px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.CreditCardVerificationDocumentsList_action .wrap_credit_verification_status h2{
    width: 320px;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 20px;
}

.CreditCardVerificationDocumentsList_action .wrap_credit_verification_status h3{
    width: 240px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
.middle_tooltip {
  font-family: "Titillium Web",sans-serif;
  color: #9b9b9b;
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #333;
  border-radius: 10px;
  display: block;
  padding: 4px;
  position: absolute;
  right: -230px;
  top: -8px;
  width: 222px;
  z-index: 999999;
}
.middle_tooltip span {
  background: #ffffff none repeat scroll 0 0;
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  padding: 8px;
  text-align: left;
  width: 90%;
}
.middle_tooltip span h4 {
  color: red;
}